In [ ]:

%run "./from_sa_cbs_to_ta_jtmt.ipynb"
%run "./emp_current_year_230718.ipynb"