In [1]:
import pandas as pd

In [ ]:

# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Downloads\forecast_2020_230720.xlsx")
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\forecast_2020_240225.xlsx")

# df1.sort_values('Taz_num')
# השוואה (יכול להיות שצריך לעשות מיון לעמודת האינדקס)
# מחזיר True or False
equal = df1.equals(df2)
# equal = df1.sort_values('Taz_num').equals(df2.sort_values('Taz_num'))

# השוואה (יכול להיות שצריך לעשות מיון לעמודת האינדקס)
# מחזיר את הערכים השונים
compare= df1.compare(df2)
# compare = df1.sort_values('TAZ').compare(df2.sort_values('TAZ'))

# compare['Taz_num'] = df1['Taz_num']

print(equal)
print(compare)
# df['TAZ'] = df1['TAZ']
# df['sector'] = df1['sector']

# compare.to_excel(r"C:\Users\dpere\Downloads\taz_with_pop_info_230717_compare.xlsx")

In [2]:
df1 = pd.read_excel(r"C:\Users\dpere\Downloads\forecast_2020_230720.xlsx")
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\forecast_2020_240225.xlsx")

In [4]:
list(df1)

['TAZ',
 'yosh',
 'in_jerusalem_metropolin',
 'jerusalem_city',
 'sector',
 'hh_total',
 'pop',
 'age0_4',
 'age5_9',
 'age10_14',
 'age15_19',
 'age20_24',
 'age25_29',
 'age30_34',
 'age35_39',
 'age40_44',
 'age45_49',
 'age50_54',
 'age55_59',
 'age60_64',
 'age65_69',
 'age70_74',
 'age75up',
 'emp_tot',
 'indus',
 'com_hotel',
 'business',
 'public',
 'education',
 'agri',
 'student',
 'univ',
 'UO_Hi_Ed',
 'pop_emp_employed']

In [7]:
len(df1)

904

In [8]:
len(df2)

747

In [6]:
list(df2)==list(df1)

True

In [ ]:
list(df2)

['TAZ',
 'yosh',
 'in_jerusalem_metropolin',
 'jerusalem_city',
 'sector',
 'hh_total',
 'pop',
 'age0_4',
 'age5_9',
 'age10_14',
 'age15_19',
 'age20_24',
 'age25_29',
 'age30_34',
 'age35_39',
 'age40_44',
 'age45_49',
 'age50_54',
 'age55_59',
 'age60_64',
 'age65_69',
 'age70_74',
 'age75up',
 'emp_tot',
 'indus',
 'com_hotel',
 'business',
 'public',
 'education',
 'agri',
 'student',
 'univ',
 'UO_Hi_Ed',
 'pop_emp_employed']