In [7]:
import pandas as pd
import numpy as np

In [8]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\JTMT\Intermediates\230720_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240311_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()

In [9]:
# column_sums1 = df1.sum(axis=0)
# column_sums2 = df2.sum(axis=0)
# sum=column_sums1-column_sums2
# sum.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\sum.xlsx")

In [10]:
for col in df1.columns:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

for col in df2.columns:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [11]:
# compare= df1.apply(np.ceil).compare(df2.apply(np.ceil))
# compare = df1.apply(lambda x: np.ceil(x / 10) * 10).compare(df2.apply(lambda x: np.ceil(x / 10) * 10))

In [12]:
compare = df1.compare(df2)
name = '230720_forecast_2020_till_2050_jtmt'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

        current_aprt_2020_2025             age_cycle_2020_2025        \
                          self       other                self other
Taz_num
2                   354.617992  351.242992                 NaN   NaN
6                   224.259695  217.509695                 NaN   NaN
10                  197.756239  195.968839                 NaN   NaN
14                   12.150000    0.000000                 1.0   4.0
15                  411.989560  410.977060                 NaN   NaN
...                        ...         ...                 ...   ...
8851                222.000000  199.250000                 NaN   NaN
8852                731.000000  704.750000                 NaN   NaN
8861                590.500000  538.875000                 NaN   NaN
8863                263.000000  235.000000                 NaN   NaN
8864                670.000000  635.000000                 NaN   NaN

        hh_size_2020_2025             pop_0                   pop_5  \
                     self other        self       other        self
Taz_num
2                     NaN   NaN   70.211955   69.543728   82.806676
6                     NaN   NaN   37.887827   36.747440   35.075356
10                    NaN   NaN   43.371658   42.979648   37.442879
14                    NaN   NaN    5.053440    0.000000    6.101378
15                    NaN   NaN  138.977834  138.636284  119.979970
...                   ...   ...         ...         ...         ...
8851                  NaN   NaN  200.378751  179.844442  186.012359
8852                  NaN   NaN  486.079557  468.624579  572.553978
8861                  NaN   NaN  245.601328  224.129408  296.531999
8863                  NaN   NaN  109.387213   97.741426  132.070984
8864                  NaN   NaN  278.667044  264.109811  336.454597

                     ... hh_size       age_cycle                pop  \
              other  ...    self other      self other         self
Taz_num              ...
2         82.018582  ...     NaN   NaN       NaN   NaN  1347.548370
6         34.019622  ...     NaN   NaN       NaN   NaN   515.797298
10        37.104456  ...     NaN   NaN       NaN   NaN   430.716498
14         0.000000  ...     4.2   2.3       1.0   4.0    51.030000
15       119.685109  ...     NaN   NaN       NaN   NaN  1380.165027
...             ...  ...     ...   ...       ...   ...          ...
8851     166.950281  ...     NaN   NaN       NaN   NaN  1110.000000
8852     551.993729  ...     NaN   NaN       NaN   NaN  3289.500000
8861     270.607419  ...     NaN   NaN       NaN   NaN  2480.100000
8863     118.010194  ...     NaN   NaN       NaN   NaN  1104.600000
8864     318.878611  ...     NaN   NaN       NaN   NaN  2814.000000

                         pop_2025                aprt_2025
               other         self        other        self       other
Taz_num
2        1334.723370  1347.548370  1334.723370  354.617992  351.242992
6         500.272298   515.797298   500.272298  224.259695  217.509695
10        426.823510   430.716498   426.823510  197.756239  195.968839
14          0.000000    51.030000     0.000000   12.150000    0.000000
15       1376.773152  1380.165027  1376.773152  411.989560  410.977060
...              ...          ...          ...         ...         ...
8851      996.250000  1110.000000   996.250000  222.000000  199.250000
8852     3171.375000  3289.500000  3171.375000  731.000000  704.750000
8861     2263.275000  2480.100000  2263.275000  590.500000  538.875000
8863      987.000000  1104.600000   987.000000  263.000000  235.000000
8864     2667.000000  2814.000000  2667.000000  670.000000  635.000000

[148 rows x 48 columns]