In [139]:
import pandas as pd
import numpy as np

In [140]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\iplan\Intermediates\change_pop\230720_pop_2050_iplan_changed.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\change_pop\240318_pop_2050_iplan_changed.xlsx").set_index('Taz_num').sort_index()

In [141]:
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240314_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\JTMT\Intermediates\230720_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()

In [142]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df1[df1['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# sum_by_sector

In [143]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2[df2['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# sum_by_sector

In [144]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [145]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [146]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [147]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2050_iplan_changed'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

        aprt            pop            pop_0          pop_10         pop_15  \
        self other     self    other    self   other    self   other   self
Taz_num
201      NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
202      NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
203      NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
204      NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
205      NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
...      ...   ...      ...      ...     ...     ...     ...     ...    ...
8863     NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
8864     NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
8871     NaN   NaN      NaN      NaN  1290.0  1300.0     NaN     NaN    NaN
8881     NaN   NaN      NaN      NaN     NaN     NaN     NaN     NaN    NaN
8882     NaN   NaN  18220.0  18230.0     NaN     NaN  2370.0  2380.0    NaN

               ... pre_pop_65       pre_pop_70       pre_pop_75up        \
        other  ...       self other       self other         self other
Taz_num        ...
201       NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
202       NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
203       NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
204       NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
205       NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
...       ...  ...        ...   ...        ...   ...          ...   ...
8863      NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
8864      NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
8871      NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
8881      NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN
8882      NaN  ...        NaN   NaN        NaN   NaN          NaN   NaN

        pop_old       aprt_old
           self other     self other
Taz_num
201         NaN   NaN      NaN   NaN
202         NaN   NaN      NaN   NaN
203         NaN   NaN      NaN   NaN
204         NaN   NaN      NaN   NaN
205         NaN   NaN      NaN   NaN
...         ...   ...      ...   ...
8863        NaN   NaN      NaN   NaN
8864        NaN   NaN      NaN   NaN
8871        NaN   NaN      NaN   NaN
8881        NaN   NaN      NaN   NaN
8882        NaN   NaN      NaN   NaN

[223 rows x 94 columns]