In [276]:
import pandas as pd
import numpy as np

In [279]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\bau\Intermediates\230720_forecast_pop_jewish_2020_2025_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240314_forecast_pop_jewish_2020_2025_bau.xlsx").set_index('Taz_num').sort_index()

In [272]:
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\iplan\Intermediates\change_pop\230720_pop_2025_iplan_changed.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\change_pop\240318_pop_2025_iplan_changed.xlsx").set_index('Taz_num').sort_index()

In [273]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [281]:
# # Filter the DataFrame based on 'zonetype' column
# df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
# df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector1 = df1_filtered.groupby('main_secto')['pop_0'].sum()
# sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector2 = df2_filtered.groupby('main_secto')['pop_0'].sum()
# sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

# sum_by_sector2
# sum_by_sector1-sum_by_sector2

In [282]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [199]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [200]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [283]:
compare = df1_summer.compare(df2_now)
name = '230720_forecast_pop_jewish_2025_2030_iplan'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

        current_aprt_2020_2025                     pop_0               \
                          self        other         self        other
Taz_num
7801                869.748715   910.801003   656.980900   687.990511
7802               1575.251285  1534.198997  1421.832813  1384.778731

               pop_5                    pop_10                   pop_15  \
                self        other         self        other        self
Taz_num
7801      537.470539   562.839241   480.405565   503.080790  363.721278
7802     1319.892824  1285.495378  1057.899789  1030.330088  499.288021

                     ...     pop_70               pop_75up              \
              other  ...       self      other        self       other
Taz_num              ...
7801     380.888985  ...  76.385545  79.990955  139.700493  146.294380
7802     486.276182  ...  60.292297  58.721033   38.257763   37.260736

                 pop                  pop_2025                 aprt_2025  \
                self        other         self        other         self
Taz_num
7801     3913.869216  4098.604514  3913.869216  4098.604514   869.748715
7802     7876.256427  7670.994985  7876.256427  7670.994985  1575.251285


               other
Taz_num
7801      910.801003
7802     1534.198997

[2 rows x 40 columns]