In [265]:
import pandas as pd
import numpy as np

In [270]:
# הקבצים שאנחנו רוצים להשוות
df1_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\240314_forecast_pop_jewish_2020_2025_iplan.xlsx").set_index('Taz_num').sort_index()
df2_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\iplan\Intermediates\230720_forecast_pop_jewish_2020_2025_iplan.xlsx").set_index('Taz_num').sort_index()

In [271]:
for col in df1_now.columns:
    df1_now[col] = pd.to_numeric(df1_now[col], errors='coerce')

for col in df2_summer.columns:
    df2_summer[col] = pd.to_numeric(df2_summer[col], errors='coerce')

In [272]:
column_sums1 = df1_now.sum(axis=0)
column_sums2 = df2_summer.sum(axis=0)
sum=column_sums1.sum()-column_sums2.sum()
# sum.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\sum.xlsx")
# name = '230720_forecast_2020_till_2050_jtmt'
# column_sums2.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_sum.xlsx".format(name))
column_sums2
sum

-61.578432600945234

In [263]:
# compare= df1_now.apply(np.ceil).compare(df2_summer.apply(np.ceil))
# compare = df1_now.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_summer.apply(lambda x: np.ceil(x / 10) * 10))

In [273]:
compare = df1_now.compare(df2_summer)
name = '230720_forecast_pop_jewish_2020_2025_iplan'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

        current_aprt_2020_2025                     pop_0               \
                          self        other         self        other
Taz_num
7801                910.801003   869.748715   687.990511   656.980900
7802               1534.198997  1575.251285  1384.778731  1421.832813

               pop_5                    pop_10                   pop_15  \
                self        other         self        other        self
Taz_num
7801      562.839241   537.470539   503.080790   480.405565  380.888985
7802     1285.495378  1319.892824  1030.330088  1057.899789  486.276182

                     ...     pop_70               pop_75up              \
              other  ...       self      other        self       other
Taz_num              ...
7801     363.721278  ...  79.990955  76.385545  146.294380  139.700493
7802     499.288021  ...  58.721033  60.292297   37.260736   38.257763

                 pop                  pop_2025                 aprt_2025  \
                self        other         self        other         self
Taz_num
7801     4098.604514  3913.869216  4098.604514  3913.869216   910.801003
7802     7670.994985  7876.256427  7670.994985  7876.256427  1534.198997


               other
Taz_num
7801      869.748715
7802     1575.251285

[2 rows x 40 columns]