In [3]:
import pandas as pd
import numpy as np

In [4]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\iplan\Intermediates\230720_kibolt_jew_till_2050_iplan.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\240318_kibolt_jew_till_2050_iplan.xlsx").set_index('Taz_num').sort_index()

In [5]:
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240314_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\JTMT\Intermediates\230720_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()

In [6]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df1[df1['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# sum_by_sector

In [7]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2[df2['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# sum_by_sector

In [8]:
# for col in df1_now.columns:
#     df1_now[col] = pd.to_numeric(df1_now[col], errors='coerce')

# for col in df2_summer.columns:
#     df2_summer[col] = pd.to_numeric(df2_summer[col], errors='coerce')

In [9]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [10]:
# compare= df1_now.apply(np.ceil).compare(df2_summer.apply(np.ceil))
# compare = df1_now.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_summer.apply(lambda x: np.ceil(x / 10) * 10))

In [11]:
compare = df1_summer.compare(df2_now)
name = '230720_kibolt_jew_till_2050_iplan'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

Empty DataFrame
Columns: []
Index: []