In [173]:
import pandas as pd
import numpy as np

In [174]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\JTMT\Intermediates\230720_kibolt_jew_2050_by_type.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240311_kibolt_jew_2050_by_type.xlsx").set_index('Taz_num').sort_index()

In [175]:
for col in df1.columns:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

for col in df2.columns:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [176]:
# compare= df1.apply(np.ceil).compare(df2.apply(np.ceil))
# compare = df1.apply(lambda x: np.ceil(x / 10) * 10).compare(df2.apply(lambda x: np.ceil(x / 10) * 10))

In [177]:
compare = df1.compare(df2)
name = '230720_kibolt_jew_2050_by_type'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_comapre.xlsx".format(name))
compare

Empty DataFrame
Columns: []
Index: []