In [13]:
import pandas as pd
import numpy as np

In [14]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240312_pop_2025_bau.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\240311_pop_2025_iplan.xlsx").set_index('Taz_num').sort_index()

In [15]:
# column_sums1 = df1.sum(axis=0)
# column_sums2 = df2.sum(axis=0)
# sum=column_sums1-column_sums2
# sum.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\sum.xlsx")

In [16]:
for col in df1.columns:
    df1[col] = pd.to_numeric(df1[col], errors='coerce')

for col in df2.columns:
    df2[col] = pd.to_numeric(df2[col], errors='coerce')

In [17]:
# compare= df1.apply(np.ceil).compare(df2.apply(np.ceil))
# compare = df1.apply(lambda x: np.ceil(x / 10) * 10).compare(df2.apply(lambda x: np.ceil(x / 10) * 10))

In [18]:
compare = df1.compare(df2)
name = '230720_forecast_2020_till_2050_jtmt'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

               aprt                      pop                    pop_0  \
               self       other         self        other        self
Taz_num
2        354.617992  351.242992  1347.548370  1334.723370   70.211955
6        224.259695  217.509695   515.797298   500.272298   37.887827
10       197.756239  195.968839   430.716498   426.823510   43.371658
14        12.150000    0.000000    51.030000     0.000000    5.053440
15       411.989560  410.977060  1380.165027  1376.773152  138.977834
...             ...         ...          ...          ...         ...
8851     222.000000  199.250000  1110.000000   996.250000  200.378751
8852     731.000000  704.750000  3289.500000  3171.375000  486.079557
8861     590.500000  538.875000  2480.100000  2263.275000  245.601328
8863     263.000000  235.000000  1104.600000   987.000000  109.387213
8864     670.000000  635.000000  2814.000000  2667.000000  278.667044

                         pop_10                  pop_15              ...  \
              other        self       other        self       other  ...
Taz_num                                                              ...
2         69.543728  105.969383  104.960843  118.535152  117.407019  ...
6         36.747440   31.259316   30.318441   26.600773   25.800116  ...
10        42.979648   32.377032   32.084396   27.376371   27.128932  ...
14         0.000000    5.735831    0.000000    4.394598    0.000000  ...
15       138.636284  103.747239  103.492272   87.723386   87.507798  ...
...             ...         ...         ...         ...         ...  ...
8851     179.844442  149.089707  133.811370   70.364609   63.153821  ...
8852     468.624579  515.157530  496.658371  252.479270  243.412812  ...
8861     224.129408  278.766091  254.394712  213.581074  194.908554  ...
8863      97.741426  124.158310  110.939935   95.125864   84.998395  ...
8864     264.109811  316.296835  299.773866  242.335850  229.676515  ...

             pop_55                 pop_60                pop_65             \
               self       other       self      other       self      other
Taz_num
2        102.494977  101.519503  94.793377  93.891202  69.401260  68.740749
6         21.830723   21.173640  24.680364  23.937509  28.682250  27.818942
10        20.404623   20.220198  21.103040  20.912302  20.455840  20.270952
14         1.972779    0.000000   1.504471   0.000000   1.370134   0.000000
15        65.383489   65.222803  67.621457  67.455271  65.547606  65.386517
...             ...         ...        ...        ...        ...        ...
8851      22.863379   20.520398  24.637850  22.113026  14.775885  13.261690
8852      67.052939   64.645087  50.018454  48.222306  37.649466  36.297484
8861      95.878680   87.496399  73.118548  66.726093  66.589642  60.767982
8863      42.702951   38.156630  32.565924  29.098830  29.658045  26.500535
8864     108.786986  103.104084  82.962620  78.628752  75.554717  71.607828

            pop_70              pop_75up
              self      other       self      other
Taz_num
2        43.053681  42.643927  57.819907  57.269618
6        33.179726  32.181048  76.481870  74.179839
10       17.648206  17.488695  26.766421  26.524495
14        1.059713   0.000000   1.239008   0.000000
15       56.550974  56.411995  85.768894  85.558109
...            ...        ...        ...        ...
8851      8.496987   7.626237   5.391663   4.839139
8852     23.869978  23.012814  12.911488  12.447840
8861     51.502926  47.000236  60.216805  54.952296
8863     22.938645  20.496507  26.819678  23.964351
8864     58.436851  55.384180  68.323894  64.754735

[130 rows x 36 columns]