In [206]:
import pandas as pd
import numpy as np

In [225]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()

In [208]:
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\iplan\Intermediates\change_pop\230720_pop_2025_iplan_changed.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\change_pop\240318_pop_2025_iplan_changed.xlsx").set_index('Taz_num').sort_index()

In [226]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2
df2_now['zonetype']

Taz_num
1         Jerusalem
2         Jerusalem
3         Jerusalem
4         Jerusalem
5         Jerusalem
           ...
8975    Palestinian
8976    Palestinian
8977    Palestinian
8978    Palestinian
8979    Palestinian
Name: zonetype, Length: 904, dtype: object

In [235]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']
sum_by_sector1

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['pop_without_dorms_yeshiva_2045'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']
sum_by_sector2-sum_by_sector1

main_secto
Arab                             5.880000e+00
Jewish                          -3.492460e-10
U_Orthodox                      -1.164153e-10
arabs_behined_seperation_wall   -3.360000e+01
Name: pop_without_dorms_yeshiva_2045, dtype: float64

In [198]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [199]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [200]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [201]:
# compare = df1_summer.compare(df2_now)
name = '230720_forecast_pop_jewish_2025_2030_iplan'
compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
compare

        current_aprt_2025_2030           pop_0           pop_5          \
                          self   other    self   other    self   other
Taz_num
7801                     870.0   920.0   660.0   690.0   540.0   570.0
7802                    1580.0  1540.0  1430.0  1390.0  1320.0  1290.0

         pop_10         pop_15         ... pop_70       pop_75up         \
           self   other   self  other  ...   self other     self  other
Taz_num                                ...
7801      490.0   510.0  370.0  390.0  ...    NaN   NaN    140.0  150.0
7802     1060.0  1040.0  500.0  490.0  ...   70.0  60.0      NaN    NaN

            pop         pop_2030         aprt_2030
           self   other     self   other      self   other
Taz_num
7801     3920.0  4100.0   3920.0  4100.0     870.0   920.0
7802     7880.0  7680.0   7880.0  7680.0    1580.0  1540.0

[2 rows x 38 columns]