In [1]:
import pandas as pd
import numpy as np

In [2]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\current\Intermediates\taz_with_gov_students.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\current\Intermediates\taz_with_gov_students.xlsx").set_index('Taz_num').sort_index()

In [22]:
df2['ARA3'].sum()

17575.666666666668

In [23]:
df1['ARA3'].sum()

17575.666666666668

In [17]:
# df1['UOA1'] == df2['UOA1']
df1['ARA1'].compare(df2['ARA1'])

                self        other
Taz_num
204        10.101390    10.101390
207         2.897903     2.897903
208         2.218404     2.218404
209         2.399306     2.399306
301      1557.812123  1557.812123
303        11.411385    11.411385
1102      552.550040   552.550040
1103      761.607511   761.607511
1104      761.708441   761.708441
1202       21.691401    21.691401
1203      479.300640   479.300640
1204     1162.358971  1162.358971
1206      989.544555   989.544555
1301      175.341647   175.341647
1303       12.972874    12.972874
1306       15.814141    15.814141
2103       39.512065    39.512065
2202      712.658712   712.658712
2203       43.710958    43.710958
2301      459.495659   459.495659
2302       86.367814    86.367814
2303       68.160797    68.160797
2401      503.310783   503.310783
2402       44.852318    44.852318
2403      707.741503   707.741503
2501       82.981287    82.981287
3601        4.086421     4.086421
3604       17.058047    17.058047
3606      384.058563   384.058563
3609        7.224312     7.224312
3610       12.385976    12.385976
6401     1309.155950  1309.155950
6402      151.813196   151.813196
6403      221.022639   221.022639
6505       43.429726    43.429726
6506      537.262660   537.262660
6507       28.321371    28.321371
6508      105.827767   105.827767
6509       24.207441    24.207441
6511       14.631937    14.631937
6602      207.807788   207.807788
6603       24.899081    24.899081
6604       10.627152    10.627152
6606       39.394815    39.394815
6607      491.856936   491.856936
6704        5.438016     5.438016
6801     3081.691313  3081.691313
6802     2269.448024  2269.448024

In [ ]:
df1.compare(df2)

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare