In [1]:
import pandas as pd
import numpy as np

In [3]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\JTMT\Intermediates\240417_pop_2050_jtmt.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240418_pop_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [12]:
print('df1: ', df1['pop'].sum())
print('df2: ', df2['pop'].sum())

df1:  7563325.7303748205
df2:  7563325.7303748205

In [4]:
df1.compare(df2)

               aprt                      pop                    pop_0  \
               self       other         self        other        self
Taz_num
3808            NaN         NaN          NaN          NaN  391.489621
5503     856.764808  856.764808  5997.353656  5997.353656         NaN
5802     847.351479  847.351479          NaN          NaN  603.174823
6001     429.957049  429.957049  2364.763770  2364.763770  306.058670
6102     475.099293  475.099293          NaN          NaN  414.686570
7811            NaN         NaN  7903.885790  7903.885790  686.763277

                         pop_10                  pop_15              ...  \
              other        self       other        self       other  ...
Taz_num                                                              ...
3808     391.489621         NaN         NaN         NaN         NaN  ...
5503            NaN         NaN         NaN  563.645856  563.645856  ...
5802     603.174823  514.747398  514.747398  534.598453  534.598453  ...
6001     306.058670  261.189456  261.189456  271.262137  271.262137  ...
6102     414.686570  353.892147  353.892147         NaN         NaN  ...
7811     686.763277  602.046539  602.046539  662.065294  662.065294  ...

             pop_55                  pop_60                 pop_65             \
               self       other        self       other       self      other
Taz_num
3808     184.180141  184.180141         NaN         NaN        NaN        NaN
5503            NaN         NaN   30.327319   30.327319        NaN        NaN
5802            NaN         NaN         NaN         NaN        NaN        NaN
6001      93.562814   93.562814   93.616679   93.616679  70.454900  70.454900
6102     126.770604  126.770604         NaN         NaN  95.461111  95.461111
7811     470.589531  470.589531  447.219396  447.219396        NaN        NaN

            pop_70               pop_75up
              self      other        self       other
Taz_num
3808           NaN        NaN  241.604222  241.604222
5503           NaN        NaN         NaN         NaN
5802     97.662942  97.662942  141.929732  141.929732
6001     49.555434  49.555434   72.016973   72.016973
6102     67.143901  67.143901   97.577604   97.577604
7811           NaN        NaN  306.998588  306.998588

[6 rows x 36 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare