In [1]:
import pandas as pd
import numpy as np

In [3]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240421_forecast_pop_jewish_2045_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\240417_forecast_pop_jewish_2045_2050_bau.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [15]:
print('df1: ', df1['aprt_2050'].sum())
print('df2: ', df2['aprt_2050'].sum())

df1:  584134.1753404811
df2:  584134.1753404811

In [4]:
df1.compare(df2)

        current_aprt_2045_2050                     pop_0               \
                          self        other         self        other
Taz_num
3707                767.412230   767.412230          NaN          NaN
5503                856.764808   856.764808          NaN          NaN
5802                847.351479   847.351479   603.174823   603.174823
6001                429.957049   429.957049   306.058670   306.058670
6102                475.099293   475.099293   414.686570   414.686570
6901                903.887397   903.887397  1252.550901  1252.550901
6903                610.730197   610.730197   846.311897   846.311897
6905               1446.990856  1446.990856  2005.149873  2005.149873
6906                680.908201   680.908201   943.560208   943.560208
6907                758.211426   758.211426  1050.682206  1050.682206
6908                670.456996   670.456996   929.077579   929.077579
6909                       NaN          NaN          NaN          NaN
6910                921.862026   921.862026  1277.459022  1277.459022
7811                       NaN          NaN   686.763277   686.763277

               pop_5                    pop_10                   pop_15  \
                self        other         self        other        self
Taz_num
3707      237.088818   237.088818          NaN          NaN         NaN
5503     1159.009033  1159.009033          NaN          NaN  563.645856
5802      472.709871   472.709871   514.747398   514.747398  534.598453
6001      239.859074   239.859074   261.189456   261.189456  271.262137
6102             NaN          NaN   353.892147   353.892147         NaN
6901     1222.755240  1222.755240          NaN          NaN  594.646724
6903      826.179843   826.179843   747.993613   747.993613  401.785346
6905     1957.451401  1957.451401  1772.206327  1772.206327  951.941994
6906      921.114813   921.114813   833.944331   833.944331  447.953840
6907     1025.688595  1025.688595   928.621685   928.621685  498.809854
6908      906.976697   906.976697   821.144188   821.144188  441.078233
6909             NaN          NaN  1448.430677  1448.430677  778.025654
6910     1247.070848  1247.070848  1129.053241  1129.053241  606.471818
7811      602.577678   602.577678   602.046539   602.046539  662.065294

                     ...     pop_70               pop_75up              \
              other  ...       self      other        self       other
Taz_num              ...
3707            NaN  ...        NaN        NaN         NaN         NaN
5503     563.645856  ...        NaN        NaN         NaN         NaN
5802     534.598453  ...  97.662942  97.662942  141.929732  141.929732
6001     271.262137  ...  49.555434  49.555434   72.016973   72.016973
6102            NaN  ...  67.143901  67.143901   97.577604   97.577604
6901     594.646724  ...        NaN        NaN         NaN         NaN
6903     401.785346  ...        NaN        NaN         NaN         NaN
6905     951.941994  ...  40.442329  40.442329   51.966792   51.966792
6906     447.953840  ...  19.030883  19.030883   24.453931   24.453931
6907     498.809854  ...  21.191451  21.191451   27.230176   27.230176
6908     441.078233  ...  18.738779  18.738779   24.078590   24.078590
6909     778.025654  ...        NaN        NaN         NaN         NaN
6910     606.471818  ...  25.765365  25.765365   33.107474   33.107474
7811     662.065294  ...        NaN        NaN  306.998588  306.998588

                  pop                    pop_2050                  aprt_2050  \
                 self         other          self         other         self
Taz_num
3707              NaN           NaN           NaN           NaN   767.412230
5503      5997.353656   5997.353656   5997.353656   5997.353656   856.764808
5802              NaN           NaN           NaN           NaN   847.351479
6001      2364.763770   2364.763770   2364.763770   2364.763770   429.957049
6102              NaN           NaN           NaN           NaN   475.099293
6901      6327.211781   6327.211781   6327.211781   6327.211781   903.887397
6903      4275.111376   4275.111376   4275.111376   4275.111376   610.730197
6905     10128.935993  10128.935993  10128.935993  10128.935993  1446.990856
6906      4766.357407   4766.357407   4766.357407   4766.357407   680.908201
6907      5307.479984   5307.479984   5307.479984   5307.479984   758.211426
6908      4693.198975   4693.198975   4693.198975   4693.198975   670.456996
6909      8278.416227   8278.416227   8278.416227   8278.416227          NaN
6910      6453.034182   6453.034182   6453.034182   6453.034182   921.862026
7811      7903.885790   7903.885790   7903.885790   7903.885790          NaN


               other
Taz_num
3707      767.412230
5503      856.764808
5802      847.351479
6001      429.957049
6102      475.099293
6901      903.887397
6903      610.730197
6905     1446.990856
6906      680.908201
6907      758.211426
6908      670.456996
6909             NaN
6910      921.862026
7811             NaN

[14 rows x 40 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare