In [1]:
import pandas as pd
import numpy as np

In [2]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\change_pop\240421_pop_2050_iplan_changed.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\iplan\Intermediates\change_pop\240417_pop_2050_iplan_changed.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [14]:
print('df1: ', df1['aprt_old'].sum())
print('df2: ', df2['aprt_old'].sum())

df1:  665107.846726507
df2:  665107.8467265072

In [4]:
df1.compare(df2)

                aprt                         pop                      pop_0  \
                self        other           self          other        self
Taz_num
1        1161.521950  1161.521950            NaN            NaN  443.354648
2                NaN          NaN    1236.493470    1236.493470   60.848602
3         156.583578   156.583578     595.017598     595.017598   29.281181
4         296.330688   296.330688     681.560583     681.560583   43.989445
5                NaN          NaN    2085.062543    2085.062543  195.062851
...              ...          ...            ...            ...         ...
8973             NaN          NaN  107071.036310  107071.036310         NaN
8975             NaN          NaN   12019.930703   12019.930703         NaN
8976             NaN          NaN   35368.667893   35368.667893         NaN
8978             NaN          NaN   94695.503693   94695.503693         NaN
8979             NaN          NaN   37866.359932   37866.359932         NaN

                         pop_10                  pop_15              ...  \
              other        self       other        self       other  ...
Taz_num                                                              ...
1        443.354648  360.216536  360.216536  329.946568  329.946568  ...
2         60.848602         NaN         NaN         NaN         NaN  ...
3         29.281181   48.099360   48.099360   58.283710   58.283710  ...
4         43.989445   39.501140   39.501140   36.413762   36.413762  ...
5        195.062851  240.971219  240.971219  199.999601  199.999601  ...
...             ...         ...         ...         ...         ...  ...
8973            NaN         NaN         NaN         NaN         NaN  ...
8975            NaN         NaN         NaN         NaN         NaN  ...
8976            NaN         NaN         NaN         NaN         NaN  ...
8978            NaN         NaN         NaN         NaN         NaN  ...
8979            NaN         NaN         NaN         NaN         NaN  ...

        pre_pop_70            sum_pop_75up               pre_pop_75up  \
              self     other          self         other         self
Taz_num
1         0.007776  0.007776  41123.564219  41123.564219     0.007604
2         0.001608  0.001608  41123.564219  41123.564219     0.001393
3         0.000774  0.000774  41123.564219  41123.564219     0.000670
4         0.001660  0.001660  41123.564219  41123.564219     0.002468
5         0.001763  0.001763  41123.564219  41123.564219     0.001329
...            ...       ...           ...           ...          ...
8973           NaN       NaN           NaN           NaN          NaN
8975           NaN       NaN           NaN           NaN          NaN
8976           NaN       NaN           NaN           NaN          NaN
8978           NaN       NaN           NaN           NaN          NaN
8979           NaN       NaN           NaN           NaN          NaN

                       pop_old                  aprt_old
            other         self        other         self        other
Taz_num
1        0.007604  5032.040252  5032.040252  1227.326891  1227.326891
2        0.001393  1334.723370  1334.723370   351.242992   351.242992
3        0.000670   642.287171   642.287171   169.022940   169.022940
4        0.002468   684.439726   684.439726          NaN          NaN
5        0.001329  2251.232827  2251.232827   536.007816   536.007816
...           ...          ...          ...          ...          ...
8973          NaN          NaN          NaN          NaN          NaN
8975          NaN          NaN          NaN          NaN          NaN
8976          NaN          NaN          NaN          NaN          NaN
8978          NaN          NaN          NaN          NaN          NaN
8979          NaN          NaN          NaN          NaN          NaN

[880 rows x 104 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare