In [1]:
import pandas as pd
import numpy as np

In [3]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\change_pop\240421_pop_2050_bau_changed.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\change_pop\240417_pop_2050_bau_changed.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [14]:
print('df1: ', df1['aprt_old'].sum())
print('df2: ', df2['aprt_old'].sum())

df1:  721554.745340481
df2:  721554.745340481

In [4]:
df1.compare(df2)

        aprt                pop                     pop_0              pop_10  \
        self other         self        other         self        other   self
Taz_num
12       NaN   NaN          NaN          NaN          NaN          NaN    NaN
13       NaN   NaN          NaN          NaN          NaN          NaN    NaN
101      NaN   NaN          NaN          NaN   698.236075   698.236075    NaN
102      NaN   NaN  9944.794479  9944.794479  1498.772433  1498.772433    NaN
103      NaN   NaN  7061.832769  7061.832769          NaN          NaN    NaN
...      ...   ...          ...          ...          ...          ...    ...
8862     NaN   NaN          NaN          NaN          NaN          NaN    NaN
8863     NaN   NaN          NaN          NaN          NaN          NaN    NaN
8871     NaN   NaN          NaN          NaN          NaN          NaN    NaN
8881     NaN   NaN          NaN          NaN          NaN          NaN    NaN
8882     NaN   NaN          NaN          NaN          NaN          NaN    NaN

              pop_15        ... pre_pop_70        sum_pop_75up                \
        other   self other  ...       self other          self         other
Taz_num                     ...
12        NaN    NaN   NaN  ...        NaN   NaN  20660.081621  20660.081621
13        NaN    NaN   NaN  ...        NaN   NaN  20660.081621  20660.081621
101       NaN    NaN   NaN  ...        NaN   NaN  20660.081621  20660.081621
102       NaN    NaN   NaN  ...        NaN   NaN  20660.081621  20660.081621
103       NaN    NaN   NaN  ...        NaN   NaN  20660.081621  20660.081621
...       ...    ...   ...  ...        ...   ...           ...           ...
8862      NaN    NaN   NaN  ...        NaN   NaN           NaN           NaN
8863      NaN    NaN   NaN  ...        NaN   NaN           NaN           NaN
8871      NaN    NaN   NaN  ...        NaN   NaN           NaN           NaN
8881      NaN    NaN   NaN  ...        NaN   NaN           NaN           NaN
8882      NaN    NaN   NaN  ...        NaN   NaN           NaN           NaN

        pre_pop_75up           pop_old       aprt_old
                self     other    self other     self other
Taz_num
12               NaN       NaN     NaN   NaN      NaN   NaN
13          0.005823  0.005823     NaN   NaN      NaN   NaN
101         0.006869  0.006869     NaN   NaN      NaN   NaN
102         0.014745  0.014745     NaN   NaN      NaN   NaN
103              NaN       NaN     NaN   NaN      NaN   NaN
...              ...       ...     ...   ...      ...   ...
8862             NaN       NaN     NaN   NaN      NaN   NaN
8863             NaN       NaN     NaN   NaN      NaN   NaN
8871             NaN       NaN     NaN   NaN      NaN   NaN
8881             NaN       NaN     NaN   NaN      NaN   NaN
8882             NaN       NaN     NaN   NaN      NaN   NaN

[235 rows x 74 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare