In [1]:
import pandas as pd
import numpy as np

In [9]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\JTMT\Intermediates\240417_kibolt_jew_2050_by_type.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\JTMT\Intermediates\240418_kibolt_jew_2050_by_type.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [11]:
print('df1: ', df1['add_aprt'].sum())
print('df2: ', df2['add_aprt'].sum())

df1:  258975.61117055628
df2:  258975.61117055628

In [10]:
df1.compare(df2)

           add_aprt
               self       other
Taz_num
3707      76.020378   76.020378
3707      76.020378   76.020378
3707      76.020378   76.020378
3707      76.020378   76.020378
3808      33.383857   33.383857
3808      33.383857   33.383857
3808      33.383857   33.383857
3808      16.691929   16.691929
3808      33.383857   33.383857
5502     171.617596  171.617596
5502     171.617596  171.617596
5503     428.382404  428.382404
5503     428.382404  428.382404
5801      77.821992   77.821992
5801      77.821992   77.821992
5802      17.551479   17.551479
5805      61.494190   61.494190
5805      30.747095   30.747095
5805      61.494190   61.494190
5805      61.494190   61.494190
5805      61.494190   61.494190
6001      80.986015   80.986015
6001      80.986015   80.986015
6001      80.986015   80.986015
6001      80.986015   80.986015
6001      80.986015   80.986015
6008      14.500707   14.500707
6102       7.099293    7.099293
7221      82.375729   82.375729
7221      82.375729   82.375729
7341     203.224271  203.224271
7341     203.224271  203.224271
7811      48.513271   48.513271
7811     145.539812  145.539812
7912      22.886729   22.886729
7912      68.660188   68.660188
8691      76.133276   76.133276
8722      66.766825   66.766825
8731      58.266724   58.266724
8822      90.878064   90.878064
8822      90.878064   90.878064
8822      90.878064   90.878064
8822      90.878064   90.878064
8822      90.878064   90.878064
8824      62.373936   62.373936
8824      62.373936   62.373936
8824      62.373936   62.373936
8824      62.373936   62.373936
8824      62.373936   62.373936

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare