In [28]:
import pandas as pd
import numpy as np

In [29]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\current\Intermediates\taz_before_add_geo.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\current\Intermediates\taz_before_add_geo.xlsx").set_index('Taz_num').sort_index()

In [52]:
df2['Indus'].sum()

20984.052679437376

In [53]:
df1['Indus'].sum()

20984.052679437376

In [32]:
df1.compare(df2)

        Indus          Com_hotel                  Business               \
         self other         self        other         self        other
Taz_num
1         NaN   NaN  1055.612127  1055.612127  1055.612127  1055.612127
2         NaN   NaN   495.625439   495.625439   495.625439   495.625439
3         NaN   NaN          NaN          NaN          NaN          NaN
4         NaN   NaN          NaN          NaN          NaN          NaN
5         NaN   NaN   978.190197   978.190197   978.190197   978.190197
...       ...   ...          ...          ...          ...          ...
8975      NaN   NaN          NaN          NaN          NaN          NaN
8976      NaN   NaN          NaN          NaN          NaN          NaN
8977      NaN   NaN          NaN          NaN          NaN          NaN
8978      NaN   NaN          NaN          NaN          NaN          NaN
8979      NaN   NaN          NaN          NaN          NaN          NaN

             Public              \
               self       other
Taz_num
1        527.806064  527.806064
2        247.812719  247.812719
3               NaN         NaN
4        379.718366  379.718366
5        489.095099  489.095099
...             ...         ...
8975            NaN         NaN
8976            NaN         NaN
8977            NaN         NaN
8978            NaN         NaN
8979            NaN         NaN

                                                  geometry  \
                                                      self
Taz_num
1        POLYGON Z ((220530.5319999997 631979.035599999...
2        POLYGON Z ((220904.1050000004 632110.139200000...
3        POLYGON Z ((220878.9148000004 631795.573699999...
4        POLYGON Z ((220529.5966999996 631848.405999999...
5        POLYGON Z ((220530.5319999997 631979.035599999...
...                                                    ...
8975     POLYGON Z ((230660.2567999996 703368.188999999...
8976     POLYGON Z ((227839.9869999997 712855.829099999...
8977     POLYGON Z ((226893.2172999997 710253.199400000...
8978     POLYGON Z ((227839.9869999997 712855.829099999...
8979     POLYGON Z ((211411.2253999999 706415.669999999...

                                                           emp_not_okev  \
                                                     other         self
Taz_num
1        POLYGON Z ((220530.53199999966 631979.03559999...  2639.030318
2        POLYGON Z ((220904.10500000045 632110.13920000...  1239.063597
3        POLYGON Z ((220878.91480000038 631795.57369999...          NaN
4        POLYGON Z ((220529.59669999965 631848.40599999...  3797.183658
5        POLYGON Z ((220530.53199999966 631979.03559999...  2445.475493
...                                                    ...          ...
8975     POLYGON Z ((230660.25679999962 703368.18899999...          NaN
8976     POLYGON Z ((227839.98699999973 712855.82909999...          NaN
8977     POLYGON Z ((226893.21729999967 710253.19940000...          NaN
8978     POLYGON Z ((227839.98699999973 712855.82909999...          NaN
8979     POLYGON Z ((211411.22539999988 706415.66999999...          NaN

                        total_emp              check_emp_sum
               other         self        other          self         other
Taz_num
1        2639.030318  2672.497132  2672.497132  4.547474e-13  0.000000e+00
2        1239.063597  1248.063597  1248.063597           NaN           NaN
3                NaN          NaN          NaN           NaN           NaN
4        3797.183658  3797.183658  3797.183658  4.547474e-13 -4.547474e-13
5        2445.475493  2638.882087  2638.882087           NaN           NaN
...              ...          ...          ...           ...           ...
8975             NaN          NaN          NaN           NaN           NaN
8976             NaN          NaN          NaN           NaN           NaN
8977             NaN          NaN          NaN           NaN           NaN
8978             NaN          NaN          NaN           NaN           NaN
8979             NaN          NaN          NaN           NaN           NaN

[904 rows x 16 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare