In [1]:
import pandas as pd
import numpy as np

In [3]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\240421_pop_2050_iplan.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\iplan\Intermediates\240417_pop_2050_iplan.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [14]:
print('df1: ', df1['pop_75up'].sum())
print('df2: ', df2['pop_75up'].sum())

df1:  111747.4280777098
df2:  111747.4280777098

In [4]:
df1.compare(df2)

                aprt                       pop                    pop_0  \
                self        other         self        other        self
Taz_num
5503      856.764808   856.764808  5997.353656  5997.353656         NaN
5802      847.351479   847.351479          NaN          NaN  603.174823
6001             NaN          NaN  1251.206060  1251.206060         NaN
6102      475.099293   475.099293          NaN          NaN  414.686570
6901      723.109918   723.109918  5061.769425  5061.769425         NaN
6905     1157.592685  1157.592685  8103.148794  8103.148794         NaN
6906      544.726561   544.726561  3813.085926  3813.085926  754.848166
6907      606.569141   606.569141          NaN          NaN         NaN
6908      536.365597   536.365597  3754.559180  3754.559180  743.262063
6909      969.387029   969.387029  6785.709206  6785.709206         NaN
6910      737.489621   737.489621  5162.427346  5162.427346         NaN
7811             NaN          NaN  6560.275764  6560.275764  570.017913

                         pop_10                  pop_15              ...  \
              other        self       other        self       other  ...
Taz_num                                                              ...
5503            NaN         NaN         NaN  563.645856  563.645856  ...
5802     603.174823  514.747398  514.747398  534.598453  534.598453  ...
6001            NaN         NaN         NaN         NaN         NaN  ...
6102     414.686570  353.892147  353.892147         NaN         NaN  ...
6901            NaN  885.631009  885.631009  475.717379  475.717379  ...
6905            NaN         NaN         NaN  761.553596  761.553596  ...
6906     754.848166  667.155465  667.155465  358.363072  358.363072  ...
6907            NaN         NaN         NaN         NaN         NaN  ...
6908     743.262063  656.915350  656.915350  352.862587  352.862587  ...
6909            NaN         NaN         NaN  637.737425  637.737425  ...
6910            NaN  903.242592  903.242592  485.177455  485.177455  ...
7811     570.017913  499.702478  499.702478  549.518429  549.518429  ...

             pop_55                  pop_60                 pop_65             \
               self       other        self       other       self      other
Taz_num
5503            NaN         NaN   30.327319   30.327319        NaN        NaN
5802            NaN         NaN         NaN         NaN        NaN        NaN
6001      49.504463   49.504463   49.532963   49.532963  37.277972  37.277972
6102     126.770604  126.770604         NaN         NaN  95.461111  95.461111
6901      39.354268   39.354268   25.596272   25.596272  21.863482  21.863482
6905      63.000398   63.000398   40.975869   40.975869  35.000221  35.000221
6906      29.645998   29.645998   19.281950   19.281950  16.469999  16.469999
6907            NaN         NaN         NaN         NaN        NaN        NaN
6908      29.190964   29.190964   18.985993   18.985993        NaN        NaN
6909      52.757563   52.757563   34.313862   34.313862        NaN        NaN
6910      40.136864   40.136864   26.105277   26.105277  22.298258  22.298258
7811     390.592321  390.592321  371.194960  371.194960        NaN        NaN

             pop_70                pop_75up
               self       other        self       other
Taz_num
5503            NaN         NaN         NaN         NaN
5802      97.662942   97.662942  141.929732  141.929732
6001            NaN         NaN   38.104471   38.104471
6102      67.143901   67.143901   97.577604   97.577604
6901      20.210390   20.210390   25.969551   25.969551
6905      32.353863   32.353863   41.573434   41.573434
6906      15.224706   15.224706   19.563145   19.563145
6907            NaN         NaN         NaN         NaN
6908      14.991023   14.991023   19.262872   19.262872
6909      27.093654   27.093654   34.814273   34.814273
6910      20.612292   20.612292   26.485979   26.485979
7811     183.613659  183.613659  254.810792  254.810792

[12 rows x 36 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare