In [62]:
import pandas as pd
import numpy as np

In [96]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\JTMT\SED_2050_jtmt_240417.xlsx").set_index('maz').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\JTMT\SED_2050_jtmt_240421.xlsx").set_index('maz').sort_index() 
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240421_forecast_2050_full_bau.xlsx").set_index('Taz_num').sort_index()
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\240417_forecast_2050_full_bau.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

True

In [95]:
print('df1 index: ', len(df1.index))
print('df2 index: ', len(df2.index))

df1 index:  904
df2 index:  904

In [94]:
print('df1: ', df1['Public'].sum())
print('df2: ', df2['Public'].sum())

df1:  147971.40574277542
df2:  147971.40574277542

In [75]:
df1.compare(df2)

                TOA1                      TOA2              TOA3       aprt  \
                self        other         self        other self other self
Taz_num
1                NaN          NaN          NaN          NaN  NaN   NaN  NaN
2          98.271996    98.271996          NaN          NaN  NaN   NaN  NaN
3                NaN          NaN          NaN          NaN  NaN   NaN  NaN
4                NaN          NaN          NaN          NaN  NaN   NaN  NaN
5                NaN          NaN          NaN          NaN  NaN   NaN  NaN
...              ...          ...          ...          ...  ...   ...  ...
8862             NaN          NaN          NaN          NaN  NaN   NaN  NaN
8863             NaN          NaN          NaN          NaN  NaN   NaN  NaN
8871             NaN          NaN          NaN          NaN  NaN   NaN  NaN
8881      223.389408   223.389408   109.739181   109.739181  NaN   NaN  NaN
8882     5489.164239  5489.164239  2514.494642  2514.494642  NaN   NaN  NaN

               pop        ...    total_emp              Indus        \
        other self other  ...         self        other  self other
Taz_num                   ...
1         NaN  NaN   NaN  ...  3692.645457  3692.645457   NaN   NaN
2         NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
3         NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
4         NaN  NaN   NaN  ...  5139.810092  5139.810092   NaN   NaN
5         NaN  NaN   NaN  ...  3402.090705  3402.090705   NaN   NaN
...       ...  ...   ...  ...          ...          ...   ...   ...
8862      NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
8863      NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
8871      NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
8881      NaN  NaN   NaN  ...          NaN          NaN   NaN   NaN
8882      NaN  NaN   NaN  ...  5025.083381  5025.083381   NaN   NaN

           Com_hotel                  Business                   Public  \
                self        other         self        other        self
Taz_num
1        1424.377385  1424.377385  1424.377385  1424.377385  712.188693
2         668.766158   668.766158   668.766158   668.766158  334.383079
3        1888.967700  1888.967700          NaN          NaN         NaN
4                NaN          NaN          NaN          NaN         NaN
5                NaN          NaN          NaN          NaN  659.954523
...              ...          ...          ...          ...         ...
8862             NaN          NaN          NaN          NaN         NaN
8863             NaN          NaN          NaN          NaN         NaN
8871             NaN          NaN          NaN          NaN         NaN
8881             NaN          NaN          NaN          NaN         NaN
8882             NaN          NaN          NaN          NaN         NaN


              other
Taz_num
1        712.188693
2        334.383079
3               NaN
4               NaN
5        659.954523
...             ...
8862            NaN
8863            NaN
8871            NaN
8881            NaN
8882            NaN

[441 rows x 136 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare