In [1]:
import pandas as pd
import numpy as np

In [2]:
# # הקבצים שאנחנו רוצים להשוות
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\2020_jtmt_forcast_full_240502.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\2020_jtmt_forcast_full_240506.xlsx").set_index('Taz_num').sort_index() 
# # df2 = pd.read_excel(r"C:\Users\dpere\Downloads\taz_with_pop_info.xlsx").set_index('Taz_num').sort_index() 
# df1.equals(df2)

In [3]:
# # הקבצים שאנחנו רוצים להשוות
# df1 = pd.read_excel(r"C:\Users\dpere\Downloads\240506_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index() 
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240506_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index() 
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\current\Intermediates\taz_with_pop_info.xlsx").set_index('Taz_num').sort_index() 
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\2020_jtmt_forcast_full_240502.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [7]:
filtered_df = df1[df1.index.isin(df2.index)]

In [12]:
print('df1 index: ', len(df1.index))
print('df2 index: ', len(filtered_df .index))

df1 index:  544
df2 index:  544

In [13]:
print('df1: ', df1['aprt_20'].sum())
print('filtered_df : ', filtered_df ['aprt_20'].sum())

print(df1['aprt_20'].sum()-filtered_df ['aprt_20'].sum())

df1:  433287.1733559813
filtered_df :  433287.1733559813
0.0

In [23]:
compare = df1.compare(df2)
compare

        main_secto         aprt_2025               aprt_2030              \
              self other        self       other        self       other
Taz_num
1              NaN   NaN  746.614074  776.476891  909.656756  938.076891
2              NaN   NaN  339.984920  363.742992  349.338106  376.242992
3              NaN   NaN  162.048322  169.022940  167.782121  179.822940
4              NaN   NaN  291.569555  297.582489  297.447129  297.582489
5              NaN   NaN  340.878011  347.907816  347.749565  347.907816
...            ...   ...         ...         ...         ...         ...
8975           NaN   NaN         NaN         NaN         NaN         NaN
8976           NaN   NaN         NaN         NaN         NaN         NaN
8977           NaN   NaN         NaN         NaN         NaN         NaN
8978           NaN   NaN         NaN         NaN         NaN         NaN
8979           NaN   NaN         NaN         NaN         NaN         NaN

          aprt_2035                aprt_2040               ...  Public_2030  \
               self       other         self        other  ...         self
Taz_num                                                    ...
1        936.724889  975.576891  1010.969392  1039.476891  ...   593.051464
2        350.068256  388.742992   355.359707   401.242992  ...   278.446395
3        166.562524  179.822940   167.515683   179.822940  ...  1179.731303
4        316.926128  381.582489   341.451709   459.582489  ...   426.657722
5        503.725117  536.007816   525.812209   608.807816  ...   549.555195
...             ...         ...          ...          ...  ...          ...
8975            NaN         NaN          NaN          NaN  ...          NaN
8976            NaN         NaN          NaN          NaN  ...          NaN
8977            NaN         NaN          NaN          NaN  ...          NaN
8978            NaN         NaN          NaN          NaN  ...          NaN
8979            NaN         NaN          NaN          NaN  ...          NaN

                      Public_2035               Public_2040               \
               other         self        other         self        other
Taz_num
1         643.587680   625.501450   586.648708   651.268530   662.303790
2         302.173893   293.682142   275.440207   305.780166   310.961383
3        1280.260784  1244.282640  1166.994582  1295.539964  1317.491923
4         463.014881   450.003145   422.051401   468.540699   476.479772
5         596.384925   579.625197   543.622037   603.502438   613.728337
...              ...          ...          ...          ...          ...
8975             NaN          NaN          NaN          NaN          NaN
8976             NaN          NaN          NaN          NaN          NaN
8977             NaN          NaN          NaN          NaN          NaN
8978             NaN          NaN          NaN          NaN          NaN
8979             NaN          NaN          NaN          NaN          NaN

         Public_2045               Public_2050
                self        other         self        other
Taz_num
1         678.909075   701.362660   720.570852   733.569904
2         318.757808   329.300097   338.318626   344.421872
3        1350.524089  1395.190022  1433.400038  1459.258482
4         488.426076   504.579810   518.398718   527.750597
5         629.115738   649.922506   667.721909   679.767568
...              ...          ...          ...          ...
8975             NaN          NaN          NaN          NaN
8976             NaN          NaN          NaN          NaN
8977             NaN          NaN          NaN          NaN
8978             NaN          NaN          NaN          NaN
8979             NaN          NaN          NaN          NaN

[816 rows x 158 columns]

In [ ]:
# # הקבצים שאנחנו רוצים להשוות
# df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
# df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
# df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
# sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
# sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

# sum_by_sector2
# sum_by_sector1-sum_by_sector2

In [ ]:
# for col in df1_summer.columns:
#     df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

# for col in df2_now.columns:
#     df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
# compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# # compare = df1_summer.compare(df2_now)
# name = '240502_forecast_2020_till_2050_jtmt'
# compare.to_excel(r"C:\Users\dpere\Downloads\{}_compare.xlsx".format(name))
# # compare