In [1]:
import pandas as pd
import numpy as np

In [3]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\Intermediates\240421_forecast_pop_jewish_2045_2050_iplan.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\iplan\Intermediates\240417_forecast_pop_jewish_2045_2050_iplan.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [16]:
print('df1: ', df1['aprt_2050'].sum())
print('df2: ', df2['aprt_2050'].sum())

df1:  527687.276726507
df2:  527687.276726507

In [4]:
df1.compare(df2)

        current_aprt_2045_2050                    pop_0              \
                          self        other        self       other
Taz_num
5503                856.764808   856.764808         NaN         NaN
5802                847.351479   847.351479  603.174823  603.174823
6001                       NaN          NaN         NaN         NaN
6102                475.099293   475.099293  414.686570  414.686570
6901                723.109918   723.109918         NaN         NaN
6905               1157.592685  1157.592685         NaN         NaN
6906                544.726561   544.726561  754.848166  754.848166
6907                606.569141   606.569141         NaN         NaN
6908                536.365597   536.365597  743.262063  743.262063
6909                969.387029   969.387029         NaN         NaN
6910                737.489621   737.489621         NaN         NaN
7811                       NaN          NaN  570.017913  570.017913

               pop_5                   pop_10                  pop_15  \
                self        other        self       other        self
Taz_num
5503     1159.009033  1159.009033         NaN         NaN  563.645856
5802      472.709871   472.709871  514.747398  514.747398  534.598453
6001      126.910405   126.910405         NaN         NaN         NaN
6102             NaN          NaN  353.892147  353.892147         NaN
6901      978.204192   978.204192  885.631009  885.631009  475.717379
6905     1565.961120  1565.961120         NaN         NaN  761.553596
6906      736.891850   736.891850  667.155465  667.155465  358.363072
6907             NaN          NaN         NaN         NaN         NaN
6908      725.581357   725.581357  656.915350  656.915350  352.862587
6909     1311.361430  1311.361430         NaN         NaN  637.737425
6910      997.656678   997.656678  903.242592  903.242592  485.177455
7811      500.143327   500.143327  499.702478  499.702478  549.518429

                     ...      pop_70                pop_75up              \
              other  ...        self       other        self       other
Taz_num              ...
5503     563.645856  ...         NaN         NaN         NaN         NaN
5802     534.598453  ...   97.662942   97.662942  141.929732  141.929732
6001            NaN  ...         NaN         NaN   38.104471   38.104471
6102            NaN  ...   67.143901   67.143901   97.577604   97.577604
6901     475.717379  ...   20.210390   20.210390   25.969551   25.969551
6905     761.553596  ...   32.353863   32.353863   41.573434   41.573434
6906     358.363072  ...   15.224706   15.224706   19.563145   19.563145
6907            NaN  ...         NaN         NaN         NaN         NaN
6908     352.862587  ...   14.991023   14.991023   19.262872   19.262872
6909     637.737425  ...   27.093654   27.093654   34.814273   34.814273
6910     485.177455  ...   20.612292   20.612292   26.485979   26.485979
7811     549.518429  ...  183.613659  183.613659  254.810792  254.810792

                 pop                  pop_2050                 aprt_2050  \
                self        other         self        other         self
Taz_num
5503     5997.353656  5997.353656  5997.353656  5997.353656   856.764808
5802             NaN          NaN          NaN          NaN   847.351479
6001     1251.206060  1251.206060  1251.206060  1251.206060          NaN
6102             NaN          NaN          NaN          NaN   475.099293
6901     5061.769425  5061.769425  5061.769425  5061.769425   723.109918
6905     8103.148794  8103.148794  8103.148794  8103.148794  1157.592685
6906     3813.085926  3813.085926  3813.085926  3813.085926   544.726561
6907             NaN          NaN          NaN          NaN   606.569141
6908     3754.559180  3754.559180  3754.559180  3754.559180   536.365597
6909     6785.709206  6785.709206  6785.709206  6785.709206   969.387029
6910     5162.427346  5162.427346  5162.427346  5162.427346   737.489621
7811     6560.275764  6560.275764  6560.275764  6560.275764          NaN


               other
Taz_num
5503      856.764808
5802      847.351479
6001             NaN
6102      475.099293
6901      723.109918
6905     1157.592685
6906      544.726561
6907      606.569141
6908      536.365597
6909      969.387029
6910      737.489621
7811             NaN

[12 rows x 40 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare