In [45]:
import pandas as pd
import numpy as np

In [46]:
# הקבצים שאנחנו רוצים להשוות
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\current\background_files\age_des_types.xlsx").set_index('classification_name').sort_index()
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\iplan\background_files\age_des_types.xlsx").set_index('classification_name').sort_index() 
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240421_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240502_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [47]:
print('df1 index: ', len(df1.index))
print('df2 index: ', len(df2.index))

df1 index:  904
df2 index:  904

In [59]:
print('df1: ', df1['emp_okev_2050'].sum())
print('df2: ', df2['emp_okev_2050'].sum())

df1:  283472.55742611585
df2:  268289.81996300037

In [49]:
compare = df1.compare(df2)
compare['total_emp_2050']

                self        other
Taz_num
1        3763.094489  3801.449446
2        1769.021934  1787.030151
3        4831.815378  4882.680602
4        5244.631181  5299.818427
5        3476.758078  3512.299961
...              ...          ...
8881      273.750249   263.688249
8882     5517.190580  5311.330380
8922             NaN          NaN
8923             NaN          NaN
8924             NaN          NaN

[563 rows x 2 columns]

In [50]:
# # הקבצים שאנחנו רוצים להשוות
# df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
# df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [51]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [52]:
# # Filter the DataFrame based on 'zonetype' column
# df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
# df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
# sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
# sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

# sum_by_sector2
# sum_by_sector1-sum_by_sector2

In [53]:
# for col in df1_summer.columns:
#     df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

# for col in df2_now.columns:
#     df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [54]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [55]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
# compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [56]:
# # compare = df1_summer.compare(df2_now)
# name = '240502_forecast_2020_till_2050_jtmt'
# compare.to_excel(r"C:\Users\dpere\Downloads\{}_compare.xlsx".format(name))
# # compare