In [1]:
import pandas as pd
import numpy as np

In [2]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\arab_and_palestinian\Intermediates\taz_demo_pls_2020_and_pre_growth_till_2050.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\arab_and_palestinian\Intermediates\taz_demo_pls_2020_and_pre_growth_till_2050.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [4]:
print('df1: ', df1['pop_2020'].sum())
print('df2: ', df2['pop_2020'].sum())

df1:  2756496.5554535124
df2:  2756496.555453513

In [3]:
df1.compare(df2)

             pop_2020
                 self         other
Taz_num
3608      1056.376144   1056.376144
7043      3351.030090   3351.030090
7101      2962.840831   2962.840831
7102     13657.092560  13657.092560
7104      7745.569440   7745.569440
...               ...           ...
8970     35620.447820  35620.447820
8971     36729.908163  36729.908163
8972     25183.069603  25183.069603
8974     34829.099590  34829.099590
8979     25601.043945  25601.043945

[80 rows x 2 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare