In [1]:
import pandas as pd
import numpy as np

In [17]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240421_pop_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\240417_pop_2050_bau.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [28]:
print('df1: ', df1['pop_75up'].sum())
print('df2: ', df2['pop_75up'].sum())

df1:  116730.44227538691
df2:  116730.44227538691

In [18]:
df1.compare(df2)

                aprt                        pop                      pop_0  \
                self        other          self         other         self
Taz_num
3707      767.412230   767.412230           NaN           NaN          NaN
5503      856.764808   856.764808   5997.353656   5997.353656          NaN
5802      847.351479   847.351479           NaN           NaN   603.174823
6001      429.957049   429.957049   2364.763770   2364.763770   306.058670
6102      475.099293   475.099293           NaN           NaN   414.686570
6901      903.887397   903.887397   6327.211781   6327.211781  1252.550901
6903      610.730197   610.730197   4275.111376   4275.111376   846.311897
6905     1446.990856  1446.990856  10128.935993  10128.935993  2005.149873
6906      680.908201   680.908201   4766.357407   4766.357407   943.560208
6907      758.211426   758.211426   5307.479984   5307.479984  1050.682206
6908      670.456996   670.456996   4693.198975   4693.198975   929.077579
6909             NaN          NaN   8278.416227   8278.416227          NaN
6910      921.862026   921.862026   6453.034182   6453.034182  1277.459022
7811             NaN          NaN   7903.885790   7903.885790   686.763277

                           pop_10                   pop_15              ...  \
               other         self        other        self       other  ...
Taz_num                                                                 ...
3707             NaN          NaN          NaN         NaN         NaN  ...
5503             NaN          NaN          NaN  563.645856  563.645856  ...
5802      603.174823   514.747398   514.747398  534.598453  534.598453  ...
6001      306.058670   261.189456   261.189456  271.262137  271.262137  ...
6102      414.686570   353.892147   353.892147         NaN         NaN  ...
6901     1252.550901          NaN          NaN  594.646724  594.646724  ...
6903      846.311897   747.993613   747.993613  401.785346  401.785346  ...
6905     2005.149873  1772.206327  1772.206327  951.941994  951.941994  ...
6906      943.560208   833.944331   833.944331  447.953840  447.953840  ...
6907     1050.682206   928.621685   928.621685  498.809854  498.809854  ...
6908      929.077579   821.144188   821.144188  441.078233  441.078233  ...
6909             NaN  1448.430677  1448.430677  778.025654  778.025654  ...
6910     1277.459022  1129.053241  1129.053241  606.471818  606.471818  ...
7811      686.763277   602.046539   602.046539  662.065294  662.065294  ...

             pop_55                  pop_60                 pop_65             \
               self       other        self       other       self      other
Taz_num
3707            NaN         NaN         NaN         NaN        NaN        NaN
5503            NaN         NaN   30.327319   30.327319        NaN        NaN
5802            NaN         NaN         NaN         NaN        NaN        NaN
6001      93.562814   93.562814   93.616679   93.616679  70.454900  70.454900
6102     126.770604  126.770604         NaN         NaN  95.461111  95.461111
6901      49.192835   49.192835   31.995340   31.995340        NaN        NaN
6903      33.238155   33.238155         NaN         NaN  18.465642  18.465642
6905      78.750498   78.750498   51.219836   51.219836  43.750277  43.750277
6906      37.057497   37.057497   24.102437   24.102437  20.587499  20.587499
6907      41.264620   41.264620         NaN         NaN        NaN        NaN
6908      36.488705   36.488705   23.732491   23.732491  20.271503  20.271503
6909      64.363068   64.363068   41.862158   41.862158  35.757260  35.757260
6910      50.171080   50.171080   32.631597   32.631597  27.872822  27.872822
7811     470.589531  470.589531  447.219396  447.219396        NaN        NaN

            pop_70               pop_75up
              self      other        self       other
Taz_num
3707           NaN        NaN         NaN         NaN
5503           NaN        NaN         NaN         NaN
5802     97.662942  97.662942  141.929732  141.929732
6001     49.555434  49.555434   72.016973   72.016973
6102     67.143901  67.143901   97.577604   97.577604
6901           NaN        NaN         NaN         NaN
6903           NaN        NaN         NaN         NaN
6905     40.442329  40.442329   51.966792   51.966792
6906     19.030883  19.030883   24.453931   24.453931
6907     21.191451  21.191451   27.230176   27.230176
6908     18.738779  18.738779   24.078590   24.078590
6909           NaN        NaN         NaN         NaN
6910     25.765365  25.765365   33.107474   33.107474
7811           NaN        NaN  306.998588  306.998588

[14 rows x 36 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare