In [1]:
import pandas as pd
import numpy as np

In [2]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240421_kibolt_jew_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\240417_kibolt_jew_till_2050_bau.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [8]:
print('df1: ', df1['add_aprt_2045_2050'].sum())
print('df2: ', df2['add_aprt_2045_2050'].sum())

df1:  32800.43423863265
df2:  32800.43423863265

In [3]:
df1.compare(df2)

        add_aprt_2025_2030             add_aprt_2030_2035             \
                      self       other               self      other
Taz_num
3707                   NaN         NaN          20.525502  20.525502
5502                   NaN         NaN                NaN        NaN
5503                   NaN         NaN                NaN        NaN
5801                   NaN         NaN                NaN        NaN
5802             17.551479   17.551479                NaN        NaN
5805                   NaN         NaN                NaN        NaN
6001             80.986015   80.986015          80.986015  80.986015
6008                   NaN         NaN          14.500707  14.500707
6102                   NaN         NaN           7.099293   7.099293
6901                   NaN         NaN                NaN        NaN
6903                   NaN         NaN                NaN        NaN
6905                   NaN         NaN                NaN        NaN
6906                   NaN         NaN                NaN        NaN
6907                   NaN         NaN                NaN        NaN
6908                   NaN         NaN                NaN        NaN
6909                   NaN         NaN                NaN        NaN
6910                   NaN         NaN                NaN        NaN
7221                   NaN         NaN                NaN        NaN
7341                   NaN         NaN                NaN        NaN
7811            145.539812  145.539812          48.513271  48.513271
7912             68.660188   68.660188          22.886729  22.886729
8722                   NaN         NaN                NaN        NaN
8731                   NaN         NaN          58.266724  58.266724
8822             90.878064   90.878064          90.878064  90.878064
8824             62.373936   62.373936          62.373936  62.373936

        add_aprt_2035_2040             add_aprt_2040_2045              \
                      self       other               self       other
Taz_num
3707             20.525502   20.525502          20.525502   20.525502
5502                   NaN         NaN         171.617596  171.617596
5503                   NaN         NaN         428.382404  428.382404
5801                   NaN         NaN         529.447802  529.447802
5802                   NaN         NaN                NaN         NaN
5805             61.494190   61.494190          61.494190   61.494190
6001             80.986015   80.986015          80.986015   80.986015
6008                   NaN         NaN                NaN         NaN
6102                   NaN         NaN                NaN         NaN
6901            361.554959  361.554959         361.554959  361.554959
6903            244.292079  244.292079         244.292079  244.292079
6905            578.796342  578.796342         578.796342  578.796342
6906            272.363280  272.363280         272.363280  272.363280
6907            303.284571  303.284571         303.284571  303.284571
6908            268.182799  268.182799         268.182799  268.182799
6909            426.487720  426.487720         426.487720  426.487720
6910            368.744810  368.744810         368.744810  368.744810
7221             82.375729   82.375729          82.375729   82.375729
7341            203.224271  203.224271         203.224271  203.224271
7811                   NaN         NaN                NaN         NaN
7912                   NaN         NaN                NaN         NaN
8722                   NaN         NaN                NaN         NaN
8731                   NaN         NaN                NaN         NaN
8822             90.878064   90.878064          90.878064   90.878064
8824             62.373936   62.373936         324.873936  324.873936

        add_aprt_2045_2050
                      self       other
Taz_num
3707             20.525502   20.525502
5502            171.617596  171.617596
5503            428.382404  428.382404
5801            529.447802  529.447802
5802                   NaN         NaN
5805             61.494190   61.494190
6001             80.986015   80.986015
6008                   NaN         NaN
6102                   NaN         NaN
6901            180.777479  180.777479
6903            122.146039  122.146039
6905            289.398171  289.398171
6906            136.181640  136.181640
6907                   NaN         NaN
6908            134.091399  134.091399
6909                   NaN         NaN
6910                   NaN         NaN
7221                   NaN         NaN
7341                   NaN         NaN
7811                   NaN         NaN
7912                   NaN         NaN
8722             66.766825   66.766825
8731                   NaN         NaN
8822             90.878064   90.878064
8824            324.873936  324.873936

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare