In [62]:
import pandas as pd
import numpy as np

In [146]:
# הקבצים שאנחנו רוצים להשוות
df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240417_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index()
df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240421_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
# df1 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_git\create_forecast_basic\future\bau\Intermediates\240421_forecast_2050_full_bau.xlsx").set_index('Taz_num').sort_index()
# df2 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_archive\forecast-create_ABM_forecast_v1.3\create_forecast_basic\future\bau\Intermediates\240417_forecast_2050_full_bau.xlsx").set_index('Taz_num').sort_index() 
df1.equals(df2)

False

In [147]:
print('df1 index: ', len(df1.index))
print('df2 index: ', len(df2.index))

df1 index:  904
df2 index:  904

In [148]:
print('df1: ', df1['Public_2050'].sum())
print('df2: ', df2['Public_2050'].sum())

df1:  156066.10981387945
df2:  128409.11431172129

In [149]:
df1.compare(df2)

        Muni_Heb       main_secto           aprt_20               aprt_2025  \
            self other       self other        self       other        self
Taz_num
1            NaN   NaN        NaN   NaN         NaN         NaN  776.476891
2            NaN   NaN        NaN   NaN  351.242992  351.242992  363.742992
3            NaN   NaN        NaN   NaN  169.022940  169.022940  169.022940
4            NaN   NaN        NaN   NaN         NaN         NaN  297.582489
5            NaN   NaN        NaN   NaN  347.907816  347.907816  347.907816
...          ...   ...        ...   ...         ...         ...         ...
8975         NaN   NaN        NaN   NaN         NaN         NaN         NaN
8976         NaN   NaN        NaN   NaN         NaN         NaN         NaN
8977         NaN   NaN        NaN   NaN         NaN         NaN         NaN
8978         NaN   NaN        NaN   NaN         NaN         NaN         NaN
8979         NaN   NaN        NaN   NaN         NaN         NaN         NaN

                      aprt_2030              ...  Public_2030               \
              other        self       other  ...         self        other
Taz_num                                      ...
1        734.358802  938.076891  875.597032  ...   503.356173   581.663196
2        331.330481  376.242992  330.280694  ...   236.333136   273.099436
3        159.440767  179.822940  158.935595  ...  1001.304391  1157.077122
4        287.410148  297.582489  287.868147  ...   362.128435   418.464685
5        336.015190  347.907816  336.550644  ...   466.438441   539.002179
...             ...         ...         ...  ...          ...          ...
8975            NaN         NaN         NaN  ...          NaN          NaN
8976            NaN         NaN         NaN  ...          NaN          NaN
8977            NaN         NaN         NaN  ...          NaN          NaN
8978            NaN         NaN         NaN  ...          NaN          NaN
8979            NaN         NaN         NaN  ...          NaN          NaN

         Public_2035               Public_2040               Public_2045  \
                self        other         self        other         self
Taz_num
1         680.664772   605.826653   666.652323   626.469843   697.196397
2         319.582134   284.444535   313.003083   294.136817   327.343975
3        1354.016620  1205.144427  1326.142269  1246.209022  1386.902258
4         489.689173   435.848548   479.608227   450.699834   501.582484
5         630.742666   561.393411   617.757934   580.522565   646.061810
...              ...          ...          ...          ...          ...
8975             NaN          NaN          NaN          NaN          NaN
8976             NaN          NaN          NaN          NaN          NaN
8977             NaN          NaN          NaN          NaN          NaN
8978             NaN          NaN          NaN          NaN          NaN
8979             NaN          NaN          NaN          NaN          NaN

                      Public_2050
               other         self        other
Taz_num
1         646.453058   725.898912   671.132397
2         303.519231   340.820229   315.106544
3        1285.960756  1443.998915  1335.054284
4         465.076314   522.231872   482.831317
5         599.040148   672.659192   621.909426
...              ...          ...          ...
8975             NaN          NaN          NaN
8976             NaN          NaN          NaN
8977             NaN          NaN          NaN
8978             NaN          NaN          NaN
8979             NaN          NaN          NaN

[839 rows x 200 columns]

In [ ]:
# הקבצים שאנחנו רוצים להשוות
df1_summer = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\קיץ\forecast_by_version\230720_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()
df2_now = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\240318_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [ ]:
# sum1 = df1['pop_0'].sum()
# sum2 = df2['pop_0'].sum()
# sum1 - sum2

In [ ]:
# Filter the DataFrame based on 'zonetype' column
df1_filtered = df1_summer[df1_summer['zonetype'] == 'Jerusalem']
df2_filtered = df2_now[df2_now['zonetype'] == 'Jerusalem']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector1 = df1_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector1['Arab'] = sum_by_sector1['Arab'] + sum_by_sector1['arabs_behined_seperation_wall']

# Group by 'main_sector' and sum 'pop_70' for each group
sum_by_sector2 = df2_filtered.groupby('main_secto')['total_emp'].sum()
sum_by_sector2['Arab'] = sum_by_sector2['Arab'] + sum_by_sector2['arabs_behined_seperation_wall']

sum_by_sector2
sum_by_sector1-sum_by_sector2

In [ ]:
for col in df1_summer.columns:
    df1_summer[col] = pd.to_numeric(df1_summer[col], errors='coerce')

for col in df2_now.columns:
    df2_now[col] = pd.to_numeric(df2_now[col], errors='coerce')

In [ ]:
# # Filter the DataFrame based on 'zonetype' column
# df_filtered = df2_summer[df2_summer['zonetype'] == 'Jerusalem']

# # Group by 'main_sector' and sum 'pop_70' for each group
# sum_by_sector = df_filtered.groupby('group')['pop_0'].sum()
# # sum_by_sector['Arab'] = sum_by_sector['Arab'] + sum_by_sector['arabs_behined_seperation_wall']
# # sum_by_sector['arabs_behined_seperation_wall'] = 0
# # sum_by_sector
# sum_by_sector

In [ ]:
# compare= df1_summer.apply(np.ceil).compare(df2_now.apply(np.ceil))
compare = df1_summer.apply(lambda x: np.ceil(x / 10) * 10).compare(df2_now.apply(lambda x: np.ceil(x / 10) * 10))

In [ ]:
# compare = df1_summer.compare(df2_now)
name = '230720_pop_2025_bau'
# compare.to_excel(r"C:\Users\dpere\Documents\JTMT\compare\{}_compare.xlsx".format(name))
# compare