In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2020 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\2020_jtmt_forcast_full_240506.xlsx").set_index('Taz_num').sort_index() 
df_2050 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240506_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [3]:
# Calculate the sums
sum_2020 = df_2020['pop_without_dorms_yeshiva'].sum()
sum_2050 = df_2050['pop_without_dorms_yeshiva'].sum()

# Create a DataFrame with the sums
data = {
    'table_year': ['2020', '2050'],
    'pop_2020_without_dorms_yeshiva': [sum_2020.astype('float32'), sum_2050.astype('float32')]
}
df = pd.DataFrame(data)

pop_2020_without_dorms_yeshiva_sum = df.set_index('table_year')

In [4]:
df_2050_pop_2020_without_dorms_yeshiva = df_2050.pivot_table(index='main_secto', values='pop_without_dorms_yeshiva', aggfunc="sum")

In [5]:
df_2050_pop_2050_without_dorms_yeshiva = df_2050.pivot_table(index='main_secto', values='pop_without_dorms_yeshiva_2050', aggfunc="sum", fill_value=0).astype('float32')

# Convert the column to int64
df_2050_pop_2050_without_dorms_yeshiva['pop_without_dorms_yeshiva_2050'] = df_2050_pop_2050_without_dorms_yeshiva['pop_without_dorms_yeshiva_2050'].astype('int64')

In [6]:
df_2050_emp_2020 = df_2050.pivot_table(index='main_secto', values='total_emp', aggfunc="sum")
df_2050_emp_2020

                                   total_emp
main_secto
Arab                            60954.001007
Jewish                         298061.550662
Palestinian                        18.000000
U_Orthodox                     112134.149154
arabs_behined_seperation_wall   11548.540655

In [7]:
df_2050_emp_2050 = df_2050.pivot_table(index='main_secto', values='total_emp_2050', aggfunc="sum")
df_2050_emp_2050

                               total_emp_2050
main_secto
Arab                             98209.167210
Jewish                          612315.972781
Palestinian                         59.719173
U_Orthodox                      233440.899602
arabs_behined_seperation_wall    18275.796235

In [8]:
df1 = pop_2020_without_dorms_yeshiva_sum
df1.name = "pop 2020 without dorms yeshiva sum"
df2 = df_2050_pop_2020_without_dorms_yeshiva
df2.name = "pop 2020 without dorms yeshiva by sector"
df3 = df_2050_pop_2050_without_dorms_yeshiva
df3.name = "pop 2050 without dorms yeshiva by sector"
df4 = df_2050_emp_2020
df4.name = "emp 2020 by sector"
df5 = df_2050_emp_2050
df5.name = "emp 2050 by sector"
print(df1);print(df2);print(df3)

            pop_2020_without_dorms_yeshiva
table_year
2020                            1758461.25
2050                            1758461.25
                               pop_without_dorms_yeshiva
main_secto
Arab                                       272831.541375
Jewish                                     855533.391787
Palestinian                                     0.000000
U_Orthodox                                 525185.694210
arabs_behined_seperation_wall              104910.645214
                               pop_without_dorms_yeshiva_2050
main_secto
Arab                                                   476374
Jewish                                                1436318
Palestinian                                           4174786
U_Orthodox                                            1511838
arabs_behined_seperation_wall                          160331

In [9]:
writer = pd.ExcelWriter('bau_monitoring.xlsx',engine='xlsxwriter')
workbook=writer.book
worksheet=workbook.add_worksheet('bau')
writer.sheets['bau'] = worksheet

worksheet.write_string(0, 0, df1.name)
df1.to_excel(writer,sheet_name='bau',startrow=1 , startcol=0)

worksheet.write_string(df1.shape[0] + 3, 0, df2.name)
df2.to_excel(writer,sheet_name='bau',startrow=df1.shape[0] + 4, startcol=0)

worksheet.write_string(df2.shape[0] + 8, 0, df3.name)
df3.to_excel(writer,sheet_name='bau',startrow=df2.shape[0] + 9, startcol=0)

worksheet.write_string(df3.shape[0] + 16, 0, df4.name)
df4.to_excel(writer,sheet_name='bau',startrow=df3.shape[0] + 17, startcol=0)

worksheet.write_string(df4.shape[0] + 24, 0, df5.name)
df5.to_excel(writer,sheet_name='bau',startrow=df4.shape[0] + 25, startcol=0)

writer.close()