In [1]:
import pandas as pd
import numpy as np
from global_functions import get_newest_date_file

In [2]:
pd.options.display.max_columns = None

In [3]:
df_2020 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\BASE_YEAR\2020_jtmt_forcast_full_240506.xlsx").set_index('Taz_num').sort_index() 
df_jtmt_2050 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240506_forecast_2020_till_2050_jtmt.xlsx").set_index('Taz_num').sort_index() 
df_iplan_2050 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240506_forecast_2020_till_2050_iplan.xlsx").set_index('Taz_num').sort_index() 
df_bau_2050 = pd.read_excel(r"C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\240506_forecast_2020_till_2050_bau.xlsx").set_index('Taz_num').sort_index()

In [4]:
BaseProjections_version = get_newest_date_file(r'C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\JTMT', 'BaseProjections2025_')

years = ['2025', '2030','2035', '2040', '2045', '2050']

senarios = ['JTMT', 'IPLAN', 'BAU']

for sen in senarios:
    for year in years:
        locals()[f'BaseProjections_{sen}_{year}'] = pd.read_excel(fr'C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\{sen}\BaseProjections{year}_{BaseProjections_version}_{sen.lower()}.xlsx')
        locals()[f'values_list_{sen}'] = ['NaN']

In [5]:
SED_version = get_newest_date_file(r'C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\JTMT', 'SED_2025_')

years = ['2025', '2030','2035', '2040', '2045', '2050']

senarios = ['JTMT', 'IPLAN', 'BAU']

for sen in senarios:
    for year in years:
        globals()[f'SED_{sen}_{year}'] = pd.read_excel(fr'C:\Users\dpere\Documents\JTMT\forecast_by_version\V4\{sen}\SED_{year}_{sen.lower()}_{SED_version}.xlsx')
        globals()[f'values_list_{sen}'] = ['NaN']

In [6]:
# BaseProjections_JTMT_2050 = pd.merge(locals()[f'BaseProjections_JTMT_2050'],df_2020[['SCHOOLDIST']],left_on='TAZ', right_on='Taz_num')

# BaseProjections_JTMT_2050 = pd.pivot_table(BaseProjections_JTMT_2050, index=['SCHOOLDIST'], aggfunc="sum")
# calculate_age5_9 = BaseProjections_JTMT_2050['age5_9']/5*4
# calculate_age15_19 = BaseProjections_JTMT_2050['age15_19']/5*4

In [7]:
# sum = calculate_age5_9 + BaseProjections_JTMT_2050['age10_14'] + calculate_age15_19
# sum
# BaseProjections_JTMT_2050

In [8]:
df_jtmt_2050 = pd.merge(df_jtmt_2050,df_2020[['SCHOOLDIST']],on='Taz_num', how='left')
df_iplan_2050 = pd.merge(df_iplan_2050,df_2020[['SCHOOLDIST']],on='Taz_num', how='left')
df_bau_2050 = pd.merge(df_bau_2050,df_2020[['SCHOOLDIST']],on='Taz_num', how='left')

In [9]:
def convert_to_int(float_list):
  int_list = []
  for num in float_list:
    if not isinstance(num, float):
      raise ValueError("Input list must contain only floats")
    # Check if conversion to int results in a loss of precision
    if num != int(num):
      raise ValueError(f"Float {num} cannot be converted to int without losing precision")
    int_list.append(int(num))
  return int_list

In [10]:
def add_total_by_type_row(output_df, column_input_name, column_input_value, column_output_name):
    values_list = []
    
    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        val = df[df[f'{column_input_name}'] == column_input_value] 
        values_list.append(len(val))

    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [11]:
def add_total_row(output_df, column_input_name, column_output_name):
    values_list = []

    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        if column_input_name in df.columns:
            val = df[f'{column_input_name}'].sum()
            # val = df.pivot_table(index='main_secto', values=f'{column_input_name}', aggfunc="sum", fill_value=0).astype('float32').sum()
            values_list.append("{:,}".format(int(val)))
        else:
            values_list.append('NaN')

    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [12]:
def add_taz_num_is_unique_row(output_df, column_output_name):
    values_list = []
    
    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        val = df_2020.index.is_unique
        values_list.append(val)

    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [13]:
def add_taz_num_count_row(output_df, column_output_name):
    values_list = []
    
    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        val = len(df.index)
        values_list.append(val)

    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [14]:
def add_percentage_growth_row(current, previous, output_df, column_output_name):
    values_list = []

    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        if len(list(df)) == 135:
                values_list.append('NaN')

        else:
            if df[f'{current}'].sum() == df[f'{previous}'].sum():
                values_list.append(100.0)
            else:
                try:
                    values_list.append((df[f'{current}'].sum() / df[f'{previous}'].sum()) * 100.0)
                except ZeroDivisionError:
                    values_list.append(0)
    
    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [15]:
def add_percentage_growth_BaseProjections_row(current_year, previous_year, output_df, column_output_name):
    values_list = ['NaN']

    for idx, sen in enumerate(['JTMT', 'IPLAN', 'BAU']):
        if globals()[f'BaseProjections_age20_29_{sen}_{current_year}'] == globals()[f'BaseProjections_age20_29_{sen}_{previous_year}']:
                values_list.append(100.0)
        else:
            try:
                values_list.append((globals()[f'BaseProjections_age20_29_{sen}_{current_year}'] / globals()[f'BaseProjections_age20_29_{sen}_{previous_year}']) * 100.0)
            except ZeroDivisionError:
                values_list.append(0)
            
    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [16]:
def add_students_by_SCHOOLDIST(output_df, column_key_name, column_input_name, column_input_value, column_output_name):
    values_list = []
    
    # if column_key_name in df.columns:
    for idx, df in enumerate([df_2020, df_jtmt_2050, df_iplan_2050, df_bau_2050]):
        val = pd.pivot_table(df, index=[f'{column_input_name}'], aggfunc="sum")
        if column_key_name in val.columns:
            values_list.append(val[column_key_name][column_input_value])
        else:
            values_list.append('NaN')

    output_df.loc[f'{column_output_name}'] = values_list

    return output_df

In [17]:
for sen in senarios:
        globals()[f'pivot_sector_{sen.lower()}'] = pd.pivot_table(locals()[f'df_{sen.lower()}_2050'], index=['main_secto'], aggfunc="sum")

In [18]:
# SED_BAU_2035['UNIVENRARAB'].sum()

In [19]:
# values_list = ['NaN']

# for previous, current in zip(years, years[1:]):
#     for sen in senarios:
#         print(previous, current)
#         BaseProjections_previous_sector = pd.pivot_table(globals()[f'BaseProjections_{sen}_{previous}'], index=['sector'], aggfunc="sum")
#         BaseProjections_current_sector = pd.pivot_table(globals()[f'BaseProjections_{sen}_{current}'], index=['sector'], aggfunc="sum")

#         BaseProjections_age15_19_U_previous = BaseProjections_previous_sector.iloc[3]['age15_19']
#         BaseProjections_age20_24_U_previous = BaseProjections_previous_sector.iloc[3]['age15_19']
#         BaseProjections_age15_19_U_previous_total = (BaseProjections_age15_19_U_previous + BaseProjections_age20_24_U_previous) / 2

#         BaseProjections_age15_19_U_current = BaseProjections_current_sector.iloc[3]['age15_19']
#         BaseProjections_age20_24_U_current = BaseProjections_current_sector.iloc[3]['age15_19']
#         BaseProjections_age15_19_U_current_total = (BaseProjections_age15_19_U_current + BaseProjections_age20_24_U_current) / 2

#         val = ((BaseProjections_age15_19_U_current_total / BaseProjections_age15_19_U_previous_total) * 100.0)
#         values_list.append(val)
#     print(values_list)
#     values_list = ['NaN']

In [20]:
values_list = ['NaN']

for year in years:
    for sen in senarios:
            BaseProjections_sector = pd.pivot_table(globals()[f'BaseProjections_{sen}_{year}'], index=['sector'], aggfunc="sum")
            BaseProjections_age15_19_U = BaseProjections_sector.iloc[3]['age15_19']
            BaseProjections_age20_24_U = BaseProjections_sector.iloc[3]['age20_24']
            values_list.append((BaseProjections_age20_24_U + BaseProjections_age20_24_U) / 2)
    print(values_list)
    values_list = ['NaN']
        # print(globals()[f'BaseProjections_{sen}_{year}']['UNIVENRORTHMALE'].sum())
        # print(pd.pivot_table(globals()[f'SED_{sen}_{year}']), index='UNIVENRSEC', aggfunc="sum")
        # globals()[f'pivot_SED_{sen}_{year}'] = globals()[f'BaseProjections_{sen}_{year}']['age20_24'].sum()/5*3 + globals()[f'BaseProjections_{sen}_{year}']['age25_29'].sum()/5*4

['NaN', 68244.0, 65911.0, 67637.0]
['NaN', 79467.0, 73244.0, 77463.0]
['NaN', 91427.0, 83519.0, 90549.0]
['NaN', 99794.0, 100279.0, 112311.0]
['NaN', 123791.0, 115592.0, 133410.0]
['NaN', 132364.0, 131078.0, 156617.0]

In [21]:
def add_percentage_growth_by_sector_row(current_year, previous_year, output_df, column_output_name):
        values_list = ['NaN']

        for i, index in enumerate(pivot_sector_jtmt.index):
                for sen in [pivot_sector_jtmt, pivot_sector_iplan, pivot_sector_bau]:
                        if previous_year == '2020':
                                if current_year == previous_year:
                                        values_list.append(100)
                                else:
                                        val = ((sen.iloc[i][f'pop_without_dorms_yeshiva_{current_year}'] / sen.iloc[i]['pop_without_dorms_yeshiva']) * 100.0)
                                        if val == float("inf"):
                                                values_list.append(0)
                                        else:
                                                values_list.append(val)
                        else:
                                if current_year == previous_year:
                                        values_list.append(100)
                                else:
                                        val = ((sen.iloc[i][f'pop_without_dorms_yeshiva_{current_year}'] / sen.iloc[i][f'pop_without_dorms_yeshiva_{previous_year}']) * 100.0)
                                        if val == float("inf"):
                                                values_list.append(0)
                                        else:
                                                values_list.append(val)
                output_df.loc[f'percentage growth {pivot_sector_jtmt.index[i]} {previous_year}-{current_year}'] = np.float32(values_list)
                values_list = ['NaN']
                
        return output_df

In [22]:
# # def add_percentage_growth_by_sector_row(current_year, previous_year, output_df, column_output_name):
# values_list = ['NaN']

# for i, index in enumerate(pivot_sector_jtmt.index):
#     for sen in [pivot_sector_jtmt, pivot_sector_iplan, pivot_sector_bau]:
#         if previous_year == '2020':
#             if current_year == previous_year:
#                 values_list.append(100)
#             else:
#                 val = ((sen.iloc[i][f'pop_without_dorms_yeshiva_{current_year}'] / sen.iloc[i]['pop_without_dorms_yeshiva']) * 100.0)
#                 if val == float("inf"):
#                     values_list.append(0)
#                 else:
#                     values_list.append(val)
                
                        
                                
                                
#         else:
#             if current_year == previous_year:
#                 values_list.append(100)
#             else:
#                 val = ((sen.iloc[i][f'pop_without_dorms_yeshiva_{current_year}'] / sen.iloc[i][f'pop_without_dorms_yeshiva_{previous_year}']) * 100.0)
#                 if val == float("inf"):
#                     values_list.append(0)
#                 else:
#                     values_list.append(val)
#     output_df.loc[f'percentage growth {pivot_sector_jtmt.index[i]} {previous_year}-{current_year}'] = np.float32(values_list)
#     values_list = ['NaN']
                
#         # return output_df

In [23]:
monitoring_df = pd.DataFrame(columns=['2020', 'JTMT', 'iplan', 'bau'])

In [24]:
SCHOOLDIST_list = list(df_2020['SCHOOLDIST'].value_counts().index)
sectors_list = list(df_2020['main_secto'].value_counts().index)
zonetypes_list = list(df_2020['zonetype'].value_counts().index)
jeru_metros_list = list(df_2020['jeru_metro'].value_counts().index)
in_jerusals_list = list(df_2020['in_jerusal'].value_counts().index)

In [25]:
# אוכלוסיה
monitoring_df = add_total_row(monitoring_df, 'pop_without_dorms_yeshiva', 'pop_2020')
monitoring_df = add_total_row(monitoring_df, 'pop_without_dorms_yeshiva_2050', 'pop_2050')

# מועסקים
monitoring_df = add_total_row(monitoring_df, 'total_emp', 'emp_2020')
monitoring_df = add_total_row(monitoring_df, 'total_emp_2050', 'emp_2050')

# מספר א"ת לפי סקטור
for item in sectors_list:
    monitoring_df = add_total_by_type_row(monitoring_df, 'main_secto', item, f'Taz_U_{item}')

# סטודנטים
monitoring_df = add_total_row(monitoring_df, 'univ', 'univ_2020')
monitoring_df = add_total_row(monitoring_df, 'univ_2050', 'univ_2050')

# בתי ספר
monitoring_df = add_total_row(monitoring_df, 'student', 'student_2020')
monitoring_df = add_total_row(monitoring_df, 'student_2050', 'student_2050')

# ישיבות
monitoring_df = add_total_row(monitoring_df, 'student_yeshiva_and_kollim', 'student_yeshiva_and_kollim_2020')
monitoring_df = add_total_row(monitoring_df, 'student_yeshiva_and_kollim_2050', 'student_yeshiva_and_kollim_2050')

# zonetype
for item in zonetypes_list:
    monitoring_df = add_total_by_type_row(monitoring_df, 'zonetype', item, f'zonetype_{item}')

# jeru_metro
for item in jeru_metros_list:
    monitoring_df = add_total_by_type_row(monitoring_df, 'jeru_metro', item, f'jeru_metro_{item}')

# in_jerusal
for item in in_jerusals_list:
    monitoring_df = add_total_by_type_row(monitoring_df, 'in_jerusal', item, f'in_jerusal_{item}')

# אין א"ת שחוזר פעמיים
monitoring_df = add_taz_num_is_unique_row(monitoring_df, 'taz_num_is_unique')
# מספר א"ת
monitoring_df = add_taz_num_count_row(monitoring_df, 'taz_num_count')

In [26]:
# גידול אוכלוסיה כל חומש בכל תרחיש
monitoring_df = add_percentage_growth_row('pop_without_dorms_yeshiva_2025', 'pop_without_dorms_yeshiva', monitoring_df, 'percentage growth pop 2020-2025')
monitoring_df = add_percentage_growth_row('pop_without_dorms_yeshiva_2030', 'pop_without_dorms_yeshiva_2025', monitoring_df, 'percentage growth pop 2025-2030')
monitoring_df = add_percentage_growth_row('pop_without_dorms_yeshiva_2035', 'pop_without_dorms_yeshiva_2030', monitoring_df, 'percentage growth pop 2030-2035')
monitoring_df = add_percentage_growth_row('pop_without_dorms_yeshiva_2040', 'pop_without_dorms_yeshiva_2035', monitoring_df, 'percentage growth pop 2035-2040')
monitoring_df = add_percentage_growth_row('pop_without_dorms_yeshiva_2045', 'pop_without_dorms_yeshiva_2050', monitoring_df, 'percentage growth pop 2045-2050')

# גידול סטודנטים כל חומש בכל תרחיש
monitoring_df = add_percentage_growth_row('univ_2025', 'univ', monitoring_df, 'percentage growth univ 2020-2025')
monitoring_df = add_percentage_growth_row('univ_2030', 'univ_2025', monitoring_df, 'percentage growth univ 2025-2030')
monitoring_df = add_percentage_growth_row('univ_2035', 'univ_2030', monitoring_df, 'percentage growth univ 2030-2035')
monitoring_df = add_percentage_growth_row('univ_2040', 'univ_2035', monitoring_df, 'percentage growth univ 2035-2040')
monitoring_df = add_percentage_growth_row('univ_2045', 'univ_2050', monitoring_df, 'percentage growth univ 2045-2050')

# גידול אוכלוסיה כל חומש בכל תרחיש לפי מגזר
monitoring_df = add_percentage_growth_by_sector_row('2025', '2020', monitoring_df, 'percentage growth univ 2020-2025')
monitoring_df = add_percentage_growth_by_sector_row('2030', '2025', monitoring_df, 'percentage growth univ 2025-2030')
monitoring_df = add_percentage_growth_by_sector_row('2035', '2030', monitoring_df, 'percentage growth univ 2030-2035')
monitoring_df = add_percentage_growth_by_sector_row('2040', '2035', monitoring_df, 'percentage growth univ 2035-2040')
monitoring_df = add_percentage_growth_by_sector_row('2045', '2040', monitoring_df, 'percentage growth univ 2035-2040')
monitoring_df = add_percentage_growth_by_sector_row('2050', '2045', monitoring_df, 'percentage growth univ 2045-2050')

C:\Users\dpere\AppData\Local\Temp\ipykernel_28204\4292932753.py:10: RuntimeWarning: divide by zero encountered in scalar divide
  val = ((sen.iloc[i][f'pop_without_dorms_yeshiva_{current_year}'] / sen.iloc[i]['pop_without_dorms_yeshiva']) * 100.0)

In [27]:
for sen in senarios:
    for year in years:
        globals()[f'BaseProjections_age20_29_{sen}_{year}'] = globals()[f'BaseProjections_{sen}_{year}']['age20_24'].sum()/5*3 + globals()[f'BaseProjections_{sen}_{year}']['age25_29'].sum()/5*4

monitoring_df = add_percentage_growth_BaseProjections_row('2030', '2025', monitoring_df, 'percentage growth BaseProjections age20_29 2025-2030')
monitoring_df = add_percentage_growth_BaseProjections_row('2035', '2030', monitoring_df, 'percentage growth BaseProjections age20_29 2030-2035')
monitoring_df = add_percentage_growth_BaseProjections_row('2040', '2035', monitoring_df, 'percentage growth BaseProjections age20_29 2035-2040')
monitoring_df = add_percentage_growth_BaseProjections_row('2045', '2040', monitoring_df, 'percentage growth BaseProjections age20_29 2040-2045')
monitoring_df = add_percentage_growth_BaseProjections_row('2050', '2045', monitoring_df, 'percentage growth BaseProjections age20_29 2045-2050')

In [28]:
# # SCHOOLDIST 2020
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2020')

# # SCHOOLDIST 2025
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2025', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2025')

# # SCHOOLDIST 2030
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2030', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2030')

# # SCHOOLDIST 2035
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2035', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2035')

# # SCHOOLDIST 2040
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2040', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2040')

# # SCHOOLDIST 2045
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2045', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2045')

# # SCHOOLDIST 2050
# for item in SCHOOLDIST_list:
#     monitoring_df = add_students_by_SCHOOLDIST(monitoring_df, 'student_2050', 'SCHOOLDIST', item, f'SCHOOLDIST_{item}_2050')

In [29]:
# yearbooks = ['5_9', '10_14', '15_19']

# values_list = ['NaN']

# for yearbook in yearbooks:
#     for year in years:
#         for idx, sen in enumerate(senarios):
#             locals()[f'values_list_{year}']  = ['NaN']
#             values_list.append(locals()[f'BaseProjections_{senarios[idx]}_{year}'][f'age{yearbook}'].sum()/5*4)
#         monitoring_df.loc[f'BaseProjections_{year}_age{yearbook}'] = values_list
#         values_list = ['NaN']

In [30]:
# yearbooks = ['5_9', '10_14', '15_19']

# values_list = ['NaN']

# for yearbook in yearbooks:
#     for year in years:
#         for idx, sen in enumerate(senarios):
#             locals()[f'values_list_{year}']  = ['NaN']
#             values_list.append(locals()[f'BaseProjections_{senarios[idx]}_{year}'][f'age{yearbook}'].sum()/5*4)
#         monitoring_df.loc[f'BaseProjections_{year}_age{yearbook}'] = values_list
#         values_list = ['NaN']

In [31]:
values_list = ['NaN']

for previous, current in zip(years, years[1:]):
    for sen in senarios:
        BaseProjections_previous_sector = pd.pivot_table(globals()[f'BaseProjections_{sen}_{previous}'], index=['sector'], aggfunc="sum")
        BaseProjections_current_sector = pd.pivot_table(globals()[f'BaseProjections_{sen}_{current}'], index=['sector'], aggfunc="sum")

        BaseProjections_age15_19_U_previous = BaseProjections_previous_sector.iloc[3]['age15_19']
        BaseProjections_age20_24_U_previous = BaseProjections_previous_sector.iloc[3]['age15_19']
        BaseProjections_age15_24_U_previous_total = (BaseProjections_age15_19_U_previous + BaseProjections_age20_24_U_previous) / 2

        BaseProjections_age15_19_U_current = BaseProjections_current_sector.iloc[3]['age15_19']
        BaseProjections_age20_24_U_current = BaseProjections_current_sector.iloc[3]['age15_19']
        BaseProjections_age15_24_U_current_total = (BaseProjections_age15_19_U_current + BaseProjections_age20_24_U_current) / 2

        val = ((BaseProjections_age15_24_U_current_total / BaseProjections_age15_24_U_previous_total) * 100.0)
        values_list.append(val)
    monitoring_df.loc[f'percentage growth BaseProjections U_Orthodox age15_24 {previous}-{current}'] = values_list
    values_list = ['NaN']

2025 2030
2025 2030
2025 2030
['NaN', 115.25692873626248, 112.70373104662387, 115.66369710467706]
2030 2035
2030 2035
2030 2035
['NaN', 114.41683434269345, 120.36984782827773, 123.39071495965956]
2035 2040
2035 2040
2035 2040
['NaN', 109.5335862917338, 114.79199283340171, 119.3373959316797]
2040 2045
2040 2045
2040 2045
['NaN', 114.02969020634457, 113.36727177250549, 117.72936499633853]
2045 2050
2045 2050
2045 2050
['NaN', 105.85179430981148, 111.30668622417797, 115.44096412307007]

In [32]:
monitoring_df.to_excel('monitoring_df_fixed.xlsx')
monitoring_df

,2020,JTMT,iplan,bau
pop_2020,"1,758,461","1,758,461","1,758,461","1,758,461"
pop_2050,NaN,"7,555,735","7,278,700","7,759,649"
emp_2020,"482,716","482,716","482,716","482,716"
emp_2050,NaN,"989,702","837,076","962,301"
Taz_U_Jewish,482,482,472,450
...,...,...,...,...
percentage growth BaseProjections U_Orthodox age15_24 2025-2030,NaN,115.256929,112.703731,115.663697
percentage growth BaseProjections U_Orthodox age15_24 2030-2035,NaN,114.416834,120.369848,123.390715
percentage growth BaseProjections U_Orthodox age15_24 2035-2040,NaN,109.533586,114.791993,119.337396
percentage growth BaseProjections U_Orthodox age15_24 2040-2045,NaN,114.02969,113.367272,117.729365
percentage growth BaseProjections U_Orthodox age15_24 2045-2050,NaN,105.851794,111.306686,115.440964